@import '../vars-viewport.css';

.main-footer {
  background-color: var(--color-white);
  padding: var(--spacing-24) 0 var(--spacing-16);
  position: relative;
  font-weight: 400;
  font-size: 12px;

  & nav a {
    margin-right: var(--spacing-24);
    color: inherit;
  }

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .disclaimer {
    display: flex;
    align-items: center;
    gap: var(--spacing-16);
  }

  & svg {
    font-size: 30px;
  }
}

.container {
  padding: 0 var(--spacing-16);
  margin: 0 auto;
  max-width: var(--width-container);
}

main.container {
  margin-bottom: var(--spacing-24);
  width: 100%;
  box-sizing: border-box;
}

/* //TODO: Replace with light grid system */
.sidebarcolumn {
  @media (--viewport-medium) {
    & {
      display: flex;
      gap: 24px;
      & .col {
      }
    }
  }

  & .col {
    margin-bottom: var(--spacing-16);
    @media (--viewport-medium) {
      & {
        margin-bottom: 0;
        flex-grow: 1;
        &.sidebar {
          flex: 0 0 276px;
        }
      }
    }
  }

  /* increase width for right hand side  columns */
  & .col + .sidebar {
    flex-basis: 304px;
  }
}

.search-filters {
  background-color: var(--color-bg-white);
  & header {
    padding: 16px;
    & h3 {
      margin: 0;
    }
  }
}

.searchbox {
  display: flex;
  gap: var(--spacing-16);
  align-items: center;
}

.searchbox-intro {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 64px 0;
}

.search-status {
  display: flex;
  gap: var(--spacing-16);
  align-items: top;
  margin-bottom: var(--spacing-24);
  & div:last-child {
    margin-left: auto;
  }
}

/* search pages */
.card-results .card {
  margin-bottom: var(--spacing-16);
  & td {
    & .chip {
      margin: 0 0 var(--spacing-4) var(--spacing-4);
    }
  }

  /* responsive table tweaks */
  & tr,
  & td {
    display: block;
    @media (--viewport-medium) {
      & {
        display: table-row;
      }
    }
  }

  & tr th {
    @media (--viewport-medium) {
      & {
        display: table-cell;
        text-align: left;
        vertical-align: top;
        padding-right: var(--spacing-16);
      }
    }
  }

  /* set width to first child. This allows the width to be overwritten in the html */
  & tr:first-child th {
    @media (--viewport-medium) {
      & {
        width: 35%;
      }
    }
  }
}
