@import '../vars-viewport.css';

#main-header {
  background-color: var(--color-bg-white);
  border-bottom: 4px solid var(--color-pink);
  padding: var(--spacing-8) 0;
  z-index: 2;

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & nav {
    display: flex;
    flex-direction: column;
    left: -100%;
    font-size: 16px;
    position: fixed;
    background: #fff;
    height: 100%;
    width: 90%;
    top: 60px;
    transition: left ease-in-out var(--animation-speed);

    @media (--viewport-medium) {
      & {
        flex-direction: row;
        position: static;
        padding: 0;
        gap: 0;
        height: auto;
        width: auto;
        align-items: center;

        & svg {
          font-size: inherit;
          margin-right: var(--spacing-8);
        }
      }
    }

    & a,
    & form {
      display: block;
      border-bottom: 1px solid var(--input-stroke-light);
      &:last-child {
        border-bottom: none;
      }

      @media (--viewport-medium) {
        display: inline-block;
        padding: var(--spacing-8) var(--spacing-16);
        border-bottom: none;
      }

      &:not([class^='bttn-']) {
        padding: var(--spacing-16);
        color: var(--color-blue2);
        text-decoration: none;
        &[aria-current='page'] {
          font-weight: bold;
        }
      }
    }
  }

  & .bttn-primary {
    order: -1;
    margin: var(--spacing-8) var(--spacing-8) var(--spacing-16);
    @media (--viewport-medium) {
      & {
        margin: 0;
        order: unset;
      }
    }
  }

  & .logo {
    font-family: 'Helvetica';
    text-decoration: none;
    border-left: 2px solid #000;
    color: var(--text-color);
    padding-left: 8px;
    display: inline-flex;
    align-items: center;

    & svg {
      font-size: 40px;
      margin-right: 8px;
    }

    & h2 {
      font-weight: normal;
      margin: 0;
      max-width: 90px;
      line-height: 20px;
    }
  }

  & ~ main {
    margin-top: var(--spacing-24);
  }
}

#main-header-mobile-menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all var(--animation-speed) ease-in-out;
  text-align: left;
  border: none;
  background-color: transparent;
  @media (--viewport-medium) {
    & {
      display: none;
    }
  }

  /* icon */
  & > span,
  & > span:before,
  & > span:after {
    width: 20px;
    height: 2px;
    border-radius: 5px;
    background-color: var(--input-stroke-dark);
    transition: all var(--animation-speed) ease-in-out;
  }

  & > span {
    &:before,
    &:after {
      content: '';
      position: absolute;
    }

    &:before {
      transform: translateY(-6px);
    }

    &:after {
      transform: translateY(6px);
    }
  }

  /* animation */
  &[aria-expanded='true'] {
    & + nav {
      left: 0;
    }

    & > span {
      transform: translateX(-20px);
      background: transparent;
      &:before {
        transform: rotate(45deg) translate(14px, -14px);
      }
      &:after {
        transform: rotate(-45deg) translate(14px, 14px);
      }
    }
  }
}
