.breadcrumb {
  font-size: var(--text-small);
  margin-bottom: var(--spacing-24);

  & ol {
    list-style: none;
    padding: 0;
    margin: 0;
    /* list-style-type: disc; */
  }
  & li {
    display: inline-block;

    &:nth-child(n + 2):before {
      content: '\2022';
    }
  }
}
