[class^='bttn-'] {
  border-radius: 20px;
  padding: 10px var(--spacing-16);
  border: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: normal;
  transition: none;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  white-space: nowrap;

  &:hover {
    text-decoration: none;
  }
  &.small {
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--text-small);
    line-height: 15px;
  }
  &.full-width {
    width: 100%;
  }
}

.bttn-primary {
  color: var(--color-white);
  background: linear-gradient(180deg, #0067ff 0%, #0050c7 100%);

  &:hover {
    background: linear-gradient(180deg, #0047b0 0%, #003077 100%);
  }
  &:focus {
    box-shadow: 0px 0px 10px rgba(0, 80, 199, 0.8);
  }
  &:active {
    background: linear-gradient(180deg, #0047b0 0%, #003077 100%);
    outline: 2px solid var(--input-stroke-dark);
  }
  &:disabled {
    background: var(--color-bg-disabled);
    color: var(--text-disabled);
  }
}

.bttn-secondary {
  color: var(--color-blue);
  background: var(--color-white);
  border: 1px solid #0050c7;

  &:hover {
    background: linear-gradient(180deg, #0067ff 0%, #0050c7 100%);
    color: var(--color-white);
  }
  &:focus {
    box-shadow: 0px 0px 10px rgba(0, 80, 199, 0.8);
  }
  &:active {
    background: linear-gradient(180deg, #0067ff 0%, #0050c7 100%);
    outline: 2px solid var(--input-stroke-dark);
  }
  &:disabled {
    background: var(--color-bg-white);
    color: var(--text-disabled);
  }
}

.bttn-tertiary {
  color: var(--color-blue);
  background: var(--color-white);
  border: 1px solid var(--input-stroke-light);

  &:hover {
    background: linear-gradient(180deg, #0067ff 0%, #0050c7 100%);
    color: var(--color-white);
  }
  &:focus {
    box-shadow: 0px 0px 10px rgba(0, 80, 199, 0.8);
  }
  &:active {
    background: linear-gradient(180deg, #0067ff 0%, #0050c7 100%);
    outline: 2px solid var(--input-stroke-dark);
  }
  &:disabled {
    background: var(--color-bg-disabled);
    color: var(--text-disabled);
  }
}

.bttn-quaternary {
  color: var(--color-grey);
  background: linear-gradient(180deg, #ffffff 100%);
  border: 1px solid var(--input-stroke-light);
  &:hover {
    background: linear-gradient(180deg, #002761 0%, #001028 100%);
    color: var(--color-white);
  }
  &:focus {
    box-shadow: 0px 0px 10px rgba(0, 80, 199, 0.8);
  }
  &:active {
    background: linear-gradient(180deg, #002761 0%, #001028 100%);
    outline: 2px solid var(--input-stroke-dark);
  }
  &:disabled {
    background: var(--color-bg-disabled);
    color: var(--text-disabled);
  }
}
.bttn-negative {
  color: var(--color-red);
  background: linear-gradient(180deg, #ffffff 100%);
  border: 1px solid var(--input-stroke-light);
  &:hover {
    background: linear-gradient(180deg, #ff3825 0%, #c72b1d 100%);
    color: var(--color-white);
  }
  &:focus {
    box-shadow: 0px 0px 10px rgba(0, 80, 199, 0.8);
  }
  &:active {
    background: linear-gradient(180deg, #ff3825 0%, #c72b1d 100%);
    outline: 2px solid var(--input-stroke-dark);
  }
  &:disabled {
    background: var(--color-bg-disabled);
    color: var(--text-disabled);
  }
}
