.card {
  background-color: var(--color-bg-white);
  padding: var(--spacing-24);
  box-shadow: 0px 10px 20px rgba(102, 128, 158, 0.1);

  &.with-accordion {
    & .content {
      max-height: 10000000px;
      transition: max-height ease-in-out var(--animation-speed),
        opacity ease-in-out var(--animation-speed);
      overflow: hidden;
      opacity: 1;
    }
    & header[aria-controls] {
      display: flex;
      justify-content: space-between;
      cursor: pointer;

      &:after {
        content: url("data:image/svg+xml,<svg width='20' height='20' viewBox='0 0 20 20' fill='%23666666' xmlns='http://www.w3.org/2000/svg'><path d='M11.1829 14.5127L17.866 7.82959C18.1703 7.51447 18.3387 7.09243 18.3349 6.65436C18.3311 6.21629 18.1554 5.79724 17.8456 5.48747C17.5358 5.17769 17.1168 5.00198 16.6787 4.99817C16.2406 4.99436 15.8186 5.16277 15.5035 5.46711L10.0016 10.969L4.49977 5.46711C4.18466 5.16277 3.76262 4.99436 3.32455 4.99817C2.88648 5.00198 2.46743 5.17769 2.15765 5.48747C1.84788 5.79724 1.67217 6.21629 1.66836 6.65436C1.66455 7.09243 1.83296 7.51447 2.1373 7.82959L8.82039 14.5127C9.13371 14.8259 9.5586 15.0019 10.0016 15.0019C10.4447 15.0019 10.8695 14.8259 11.1829 14.5127Z' /></svg>");
        transform: rotate(180deg);
        display: inline-block;
        vertical-align: text-top;
        margin-left: var(--spacing-4);
        height: 20px;
        width: 20px;
        transition: transform ease-in-out var(--animation-speed);
      }

      /* [aria-controls] to minimise .content only if JS enabled */
      &[aria-expanded='false'][aria-controls] {
        &:after {
          transform: rotate(0deg);
        }
        + .content {
          max-height: 0;
          opacity: 0.6;
        }
      }
    }
  }
}
