.card {
  background-color: var(--color-bg-white);
  padding: var(--spacing-24);
  box-shadow: 0px 10px 20px rgba(102, 128, 158, 0.1);

  & header {
    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
      margin: 0;
    }
  }

  &.with-accordion {
    & .content {
      max-height: 10000000px;
      transition: max-height ease-in-out var(--animation-speed),
        opacity ease-in-out var(--animation-speed);
      overflow: hidden;
      opacity: 1;
    }
    & header[aria-controls] {
      display: flex;
      justify-content: space-between;
      cursor: pointer;

      &:after {
        content: svg-load('chevron-down.svg', fill=#666666, width=20, height=20);
        transform: rotate(180deg);
        display: inline-block;
        vertical-align: text-top;
        margin-left: var(--spacing-4);
        height: 20px;
        width: 20px;
        transition: transform ease-in-out var(--animation-speed);
      }

      /* [aria-controls] to minimise .content only if JS enabled */
      &[aria-expanded='false'][aria-controls] {
        &:after {
          transform: rotate(0deg);
        }
        + .content {
          max-height: 0;
          opacity: 0.6;
        }
      }
    }
  }

  & footer.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--spacing-32);
  }
}

.card fieldset {
  border: none;
  padding: 0;
  margin: 0;

  & legend {
    margin-bottom: var(--spacing-8);
    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
      font-size: 24px;
      color: var(--color-highlight1);
      margin: 0;
    }
  }

  & .form-group:last-child {
    margin-bottom: 0;
  }
}
