.hintbox {
  & .hintbox-title {
    color: var(--color-link);
    font-weight: 400;
    font-size: var(--text-smallest);
  }
  & .content {
    background-color: color-mod(var(--color-grey-light2) a(0.2));
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--text-smallest);
    /* background-color: color-mod(var(--color-grey-light2) a(var(0.2))); */

    & p:last-child {
      margin-bottom: 0;
    }
  }
}
