.badge {
  background-color: var(--color-highlight1);
  border-radius: 50%;
  color: var(--color-white);
  font-weight: 600;
  font-size: 10px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 0.75rem;
  min-width: 18px;
  height: 18px;
  line-height: 1;
  padding: 0 6px;

  border-radius: 21px;
}

.chip {
  background-color: var(--color-highlight1);
  border-radius: 4px;
  color: var(--color-white);
  font-weight: 500;
  font-size: 12px;
  display: inline-block;
  padding: 0px 8px;
  display: inline-flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  & a {
    transition: none;
  }

  & .close {
    display: inline-flex;
    align-items: center;
    color: inherit;
    margin-left: var(--spacing-8);
  }

  &.purple {
    background-color: var(--color-purple);
  }

  &.green {
    background-color: var(--color-green);
  }

  &.orange {
    background-color: var(--color-orange);
  }
}

.back-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-24);
  & .right {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
