.phase-banner {
  background-color: var(--color-bg-white);
  border-bottom: 2px solid var(--color-grey-light2);
  padding: var(--spacing-8) 0;
  font-size: var(--text-small);

  & p {
    justify-content: center;
    display: inline-flex;
    align-items: center;
    margin-bottom: 0;
  }

  & .tag {
    background-color: var(--color-blue2);
    color: var(--color-white);
    font-weight: 400;
    padding: 0 var(--spacing-8);
    margin-right: var(--spacing-16);
    display: inline-flex;
    justify-content: center;
    position: relative;
  }
}
