{% import 'macros.html' as macros with context %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale = 1.0"> 
      <title>Evaluation Registry</title>
      <link rel="icon" type="image/svg+xml" href="{{static('i-dot-ai/images/crown.svg')}}">
      <link rel="stylesheet" href="{{static('i-dot-ai/fonts.css')}}">
      <link rel="stylesheet" href="{{static('dist/assets/index.css')}}" id="main-css">
        {% if space_name and space_name == "local" %}
          <!-- Dev script for local development -->
          <script type="module" src="http://127.0.0.1:5173/src/main.ts"></script>
        {% endif %}
      <script src="{{static('dist/assets/index.js')}}" id="main-script"></script>
   </head>
   <body {% if request.path==url('search') %}id="search"{% endif %}>
      <header id="main-header">
         <div class="container">
            <a href="/" class="logo">
              {{macros.crest_svg()}}
               <h2 class="body-text">Evaluation Registry</h2>
            </a>

            {% if request.user.is_authenticated %}

       
            <button id="main-header-mobile-menu">
               <span></span>
             </button>
            

            <nav id="main-header-menu">
            <a href="{{url('search')}}" {% if request.path==url('search') %}aria-current="page"{% endif %}>
              Evaluation search
            </a>
            <a href="{{url('my-evaluations')}}" {% if request.path==url('my-evaluations') %}aria-current="page"{% endif %}>
              My evaluations
            </a>

            <form action="{{url('index')}}" method="POST">{{csrf_input}}
               <button class="bttn-primary" type="submit">New evaluation</button>
            </form>
            <a href="{{url('account_logout')}}">Logout</a>
            </nav>
            {% endif %}
         </div>
      </header>
      <main class="container">

         {% set messages = get_messages(request) %}
         {% if messages %}
             {% for message in messages %} {% call macros.callout(message.tags) %}
             <div class="alert {{message.tags}}"><p>{{message}}</p></div>
             {% endcall %} {% endfor %}
         {% endif %}

         {% block content %} {% endblock %}
      </main>
      <footer class="main-footer">
         <div class="container">
            <nav>
               <a href="#">Privacy</a>
               <a href="#">Feedback</a>
            </nav>
            <div class="disclaimer">
               &#169; Crown copyright {{macros.crest_svg()}}
            </div>
         </div>
      </footer>
   </body>
</html>