{% import 'macros.html' as macros with context %}

doctype html
html(lang="en")
  head
    head
      meta(charset="UTF-8")
      link(rel="icon", type="image/svg+xml", href="{{static('i-dot-ai/images/crown.svg')}}")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="x-ua-compatible", content="ie=edge")
      title Evaluation Registry
      link(rel="stylesheet", href="{{static('foundation/css/foundation.css')}}")
      link(rel="stylesheet", href="{{static('bootstrap-icons/bootstrap-icons.css')}}")
      link(rel="stylesheet", href="{{static('i-dot-ai/base.css')}}")
      style.

    body#etf
      nav.top-bar
        div.top-bar-left
          h2 Evaluation Registry
        div.top-bar-right
          ul
          - if request.user.is_authenticated
            a.button(href=url('account_logout')) Logout 
              i.bi-box-arrow-right

      section
        div.grid-x
          div.cell.small-3
          div.cell.small-6
            {% set messages = get_messages(request) %}
            - if messages
              - for message in messages
                +macros.callout(message.tags)
                  p {{message}}
          div.cell.small-3

      section
        div.grid-x
          div.cell.small-3
          div.cell.small-6
            block content
          div.cell.small-3
