{%extends "base.html"%}
{%import 'macros.html' as macros with context%}

{%block content%}
  <form method="POST">{{csrf_input}}
    <fieldset class="fieldset">
      <legend>
        <h3>Confidentiality</h3>
      </legend>
      <h1>Blah, blah, blah</h1>
      <ul>
        <li>Bullet 1</li>
        <li>Bullet 2</li>
      </ul>
      {{macros.textarea("confidentiality_and_personal_data", "Confidentiality and personal data")}}
      {{macros.textarea("breaking_confidentiality", "Breaking confidentiality")}}
      {{macros.buttons(prev_url)}}
    </fieldset>
  </form>
{%endblock%}
