{% for contributor in contributors %}
  <tr>
    <td id="td-email-b-{{loop.index}}">{{contributor.email}}</td>
            <td><a class="button"
                   id="delete-b-{{loop.index}}"
                   hx-headers='{"X-CSRFToken": "{{csrf_token}}"}'
                   hx-delete="{{url("evaluation-contributors", args=[evaluation_id, contributor.email])}}"
                   hx-target="#contributor-table-body"
                   hx-append="innerHTML"
                   hx-trigger="click"
            >Remove</a></td>
  </tr>
{% endfor %}

