{% extends "base.html" %}
{% import 'macros.html' as macros with context %}

{% block content %}
  <form method="POST">{{csrf_input}}
    <fieldset class="fieldset">
      <legend>
        <h3>Description</h3>
      </legend>
      <h1>Blah, blah, blah</h1>
      <ul>
        <li>Bullet 1</li>
        <li>Bullet 2</li>
      </ul>
      {{macros.textarea("description", "Description", tooltip=["Please provide one or two sentences to describe the evaluation. This only needs to be a short summary as you will have the opportunity to provide more details elsewhere."])}}
      {{macros.select_many_from_list("topics", "Topics", topics, tooltip=["Please select one or more topics to associate with this evaluation. The topics should be relevant to the target of the evaluation as well as those who might find this item relevant to their area of interest."])}}
      {{macros.select_many_from_list("organisations", "Organisations", organisations, tooltip=["Please select the organisations this evaluation is relevant to."])}}
      {{macros.buttons(prev_url)}}
    </fieldset>
  </form>
{% endblock %}
