{% extends "base.html" %}
{% import 'macros.html' as macros with context %}

{% block content %}
  <form method="POST">{{csrf_input}}
    <fieldset class="fieldset">
      <legend>
        <h3>Description</h3>
      </legend>
      <h1>Blah, blah, blah</h1>
      <ul>
        <li>Bullet 1</li>
        <li>Bullet 2</li>
      </ul>
      {{macros.textarea("description", "Description", tooltip=["Please provide one or two sentences to describe the evaluation. This only needs to be a short summary as you will have the opportunity to provide more details elsewhere."])}}
      {{macros.buttons(prev_url)}}
    {{ data }}
      {% if topics %}
      <div>
        <label class="label {{errors.get('topics') and 'is-invalid-label'}}" for="topics">Topics</label>
        <select multiple name="topics" id="topics">
          {% for tp in topics %}
            <option value="{{tp[0]}}" {{is_in(data, 'topics', tp[0])}}>{{tp[1]}}</option>
          {% endfor %}
        </select>
      </div>
    {% endif %}
    </fieldset>
  </form>
{% endblock %}
{#{#}
