{% import 'macros.html' as macros with context %}

{% extends "base.pug" %}

block content

  form(method="POST")
    {{csrf_input}}

    fieldset(class="fieldset")
      legend
        h3 Digital object identifier

      :markdown
        Explanation, etc

        * Bullet 1
        * Bullet 2

      {{macros.input("doi", "Digital object identifier")}}

      {{macros.buttons(prev_url)}}
