{% import 'macros.html' as macros with context %}

{% extends "base.pug" %}

block content

  form(method="POST")
    {{csrf_input}}

    fieldset(class="fieldset")
      legend
        h3 BU / Exemption admin - all roles

      {{macros.input("hrbp", "Who is your HRBP?")}}

      {{macros.select_with_empty("grade", "Grade of post(s) / Equivalent if Contingent Labour", options=grades)}}

      {{macros.buttons(prev_url)}}
