{% extends "base.html" %}
{% import 'macros.html' as macros with context %}

{% block content %}

<h1 class="header2 highlight">Feedback and help</h1>
<div class ="card small mb-24">
<h2 class="header4 highlight">Your feedback will help improve the Evaluation Registry</h2>
<p style="margin-bottom: 6px">We welcome all feedback. </p>
<p>To give us feedback please email <a href="evaluation.registry@cabinetoffice.gov.uk">evaluation.registry@cabinetoffice.gov.uk</a></p>
</p></div>


<div class ="card small mb-24">
  <h2 class="header4 highlight">Getting help while using the Evaluation Registry</h2>

  <p>If you need help, then please email us at <a href="evaluation.registry@cabinetoffice.gov.uk">evaluation.registry@cabinetoffice.gov.uk</a></p>
  </p></div>


{% endblock %}