{% extends "base.html" %}

{% block content %}
  {% if not request.user or not request.user.is_authenticated %}

    <div class="card">
      <h1 class="header3 highlight">Login or register</h1>
      <div class="content"></div>
      <footer class="actions">
        <div>
          <a class="bttn-quaternary small" href="{{url('account_login')}}">Login</a>
          <a class="bttn-quaternary small" href="{{url('account_signup')}}">Register</a>
        </div>
      </footer>
    </div>

  {% endif %}

  {% if request.user and request.user.is_authenticated %}

    <div class="card">
      <p>The Evaluation Registry is a place for recording information about evaluations across government.</p>
      <p>Ideally, you would register each evaluation before it starts and keep the information up to date as it progresses. However, if an evaluation was not registered before it started, it can still be registered later, such as registering it before data analysis commences, or even registering it after completion, along with its findings.</p>
  
      <a class="bttn-primary" href="{{url('create-evaluation')}}">Create evaluation</a>
    </div>
  
  {% endif %}
{% endblock %}
