{% macro input(name, label, placeholder='', tooltip=[], type='text') -%}
  <label class="label {{errors.get(name) and 'is-invalid-label'}}" for="{{name}}">{{label}}</label>
  <input aria-describedby="{{name}}-tt" placeholder="{{placeholder}}" type="{{type}}" class="{{errors.get(name) and 'is-invalid-input'}}" value="{{data.get(name)}}" id="{{name}}" name="{{name}}">
  {% for tt in tooltip %}
    <p class="subheader" id="{{name}}-tt-{{loop.index}}">{{tt}}</p>
  {% endfor %}
  {% for error in errors.get(name, []) %}
    <span class="form-error">{{error}}</span>
  {% endfor %}
{%- endmacro %}

{% macro textarea(name, label, placeholder='', tooltip=[]) -%}
  <label class="label {{errors.get(name) and 'is-invalid-label'}}" for="{{name}}">{{label}}</label>
  <textarea placeholder="{{placeholder}}" class="{{errors.get(name) and 'is-invalid-input'}}" id="{{name}}" name="{{name}}">{{data.get(name)}}</textarea>
  {% for tt in tooltip %}
    <p class="subheader" id="{{name}}-tt-{{loop.index}}">{{tt}}</p>
  {% endfor %}
  {% for error in errors.get(name, []) %}
    <span class="form-error">{{error}}</span>
  {% endfor %}
{%- endmacro %}

{% macro select(name, label, options, tooltip=[], empty_option=DEFAULT) -%}
  <div>
    <label class="label {{errors.get(name) and 'is-invalid-label'}}" for="{{name}}">{{label}}</label>
    <select name="{{name}}" id="{{name}}">
      {% if not empty_option is sameas DEFAULT %}
        <option disabled {{is_empty_selected(data, name)}}>{{empty_option}}</option>
      {% endif %}
      {% for option in options %}
        <option value="{{option.value}}" {{is_selected(data, name, option.value)}}>{{option.text}}</option>
      {% endfor %}
    </select>
    {% for tt in tooltip %}
      <p class="subheader" id="{{name}}-tt-{{loop.index}}">{{tt}}</p>
    {% endfor %}
  </div>
{%- endmacro %}

{% macro select_many_from_formfield(name, label, field, tooltip=[]) -%}
  <div>
    <label class="label {{errors.get(name) and 'is-invalid-label'}}" for="{{name}}">{{label}}</label>
    {{field}}
    {% for tt in tooltip %}
      <p class="subheader" id="{{name}}-tt-{{loop.index}}">{{tt}}</p>
    {% endfor %}
  </div>
{%- endmacro %}

{% macro select_from_formfield(name, label, field, tooltip=[]) -%}
  <div>
    <label class="label {{errors.get(name) and 'is-invalid-label'}}" for="{{name}}">{{label}}</label>
    {{field}}
    {% for tt in tooltip %}
      <p class="subheader" id="{{name}}-tt-{{loop.index}}">{{tt}}</p>
    {% endfor %}
  </div>
{%- endmacro %}

{% macro select_many_from_list(name, label, list, tooltip=[]) -%}
  <div>
    <label class="label {{errors.get(name) and 'is-invalid-label'}}" for="{{name}}">{{label}}</label>
    <select multiple name="{{name}}" id="{{name}}">
      {% for item in list %}
        <option value="{{item[0]}}" {{is_in(data, name, item[0])}}>{{item[1]}}</option>
      {% endfor %}
    </select>
    {% for tt in tooltip %}
      <p class="subheader" id="{{name}}-tt-{{loop.index}}">{{tt}}</p>
    {% endfor %}
  </div>
{%- endmacro %}

{% macro select_from_list(name, label, list, tooltip=[], empty_option=DEFAULT) -%}
  <div>
    <label class="label {{errors.get(name) and 'is-invalid-label'}}" for="{{name}}">{{label}}</label>
    <select name="{{name}}" id="{{name}}">
      {% if not empty_option is sameas DEFAULT %}
          <option disabled {{is_empty_selected(data, name)}}>{{empty_option}}</option>
      {% endif %}
      {% for item in list %}
        <option value="{{item[0]}}" {{is_selected(data, name, item[0])}}>{{item[1]}}</option>
      {% endfor %}
    </select>
    {% for tt in tooltip %}
      <p class="subheader" id="{{name}}-tt-{{loop.index}}">{{tt}}</p>
    {% endfor %}
  </div>
{%- endmacro %}

{% macro select_with_empty(name, label, options, tooltip=[]) -%}
  {{select(name, label, options, empty_option="Please choose one...")}}
  {% for tt in tooltip %}
    <p class="subheader" id="{{name}}-tt-{{loop.index}}">{{tt}}</p>
  {% endfor %}
{%- endmacro %}

{% macro yes_no(name, label, tooltip=[]) -%}
  {{select(name, label, options=({'text': 'Yes', 'value': True}, {'text': 'No', 'value': False}), empty_option="Please select...")}}
  {% for tt in tooltip %}
    <p class="subheader" id="{{name}}-tt-{{loop.index}}">{{tt}}</p>
  {% endfor %}
{%- endmacro %}

{% macro yes_no_partial(name, label, tooltip=[]) -%}
  {{select(name, label, options=({'text': '', 'value': None}, {'text': 'Yes', 'value': 'Yes'}, {'text': 'No', 'value': 'No'}, {'text': 'Partial', 'value': 'Partial'}), empty_option=None)}}
  {% for tt in tooltip %}
    <p class="subheader" id="{{name}}-tt-{{loop.index}}">{{tt}}</p>
  {% endfor %}
{%- endmacro %}

{% macro checkbox(name, label, tooltip=[]) -%}
<div>
  <input type="checkbox" class="{{errors.get(name) and 'is-invalid-input'}}" id="{{name}}" name="{{name}}" {{data.get(name) and 'checked' or ''}}>
  <label class="label" for="{{name}}">{{label}}</label>
  {% for tt in tooltip %}
    <p class="subheader" id="{{name}}-tt-{{loop.index}}">{{tt}}</p>
  {% endfor %}
  {% for error in errors.get(name, []) %}
    <span class="form-error">{{error}}</span>
  {% endfor %}
</div>
{%- endmacro %}

{% macro checkboxes(name, label, options, tooltip=[]) -%}
  <fieldset>
    <legend>{{label}}</legend>
    <div class="grid-container">
      <div class="grid-x large-up-4 medium-up-2">
        {% for option in options %}
          <div class="cell">
            <input type="checkbox" class="{{errors.get(name) and 'is-invalid-input'}}" value="{{option.value}}" id="{{name}}_{{option.value}}" name="{{name}}" {{data.get(name) == option.value and 'checked' or ''}}>
            <label class="label" for="{{name}}_{{option.value}}">{{option.text}}</label>
          </div>
        {% endfor %}
      </div>
    </div>
    {% for tt in tooltip %}
      <p class="subheader" id="{{name}}-tt-{{loop.index}}">{{tt}}</p>
    {% endfor %}
  </fieldset>
{%- endmacro %}

{% macro buttons(prev_url) -%}
  <div class="evaluation-button-row">
    <a href="{{prev_url}}" class="button float-left"><i class="bi-caret-left"></i> Back</a>
    <button type="submit" class="button float-right">Next <i class="bi-caret-right"></i></button>
  </div>
{%- endmacro %}

{% macro callout(tags) -%}
  <div class="callout {{tags}}" data-closable>
    {{caller()}}
  </div>
{%- endmacro %}
