{% macro input(name, label, placeholder='', tooltip='', tooltip_position="top", type='text') -%}
  <label class="label {{errors.get(name) and 'is-invalid-label'}}" for="{{name}}">{{label}}</label>
  {% if tooltip %}
    <span data-tooltip aria-haspopup="true" class="has-tip {{tooltip_position}}" data-disable-hover="false" title="{{ tooltip }}">
      <i class="bi-question-circle-fill"></i>
    </span>
  {% endif %}
  <input aria-describedby="{{name}}-tt" placeholder="{{placeholder}}" type="{{type}}" class="{{errors.get(name) and 'is-invalid-input'}}" value="{{data.get(name)}}" id="{{name}}" name="{{name}}">
  {% for error in errors.get(name, []) %}
    <span class="form-error">{{error}}</span>
  {% endfor %}
{%- endmacro %}

{% macro textarea(name, label, placeholder='', tooltip='', tooltip_position="top") -%}
  <label class="label {{errors.get(name) and 'is-invalid-label'}}" for="{{name}}">{{label}}</label>
  {% if tooltip %}
    <span data-tooltip aria-haspopup="true" class="has-tip {{tooltip_position}}" data-disable-hover="false" title="{{ tooltip }}">
      <i class="bi-question-circle-fill"></i>
    </span>
  {% endif %}
  <textarea placeholder="{{placeholder}}" class="{{errors.get(name) and 'is-invalid-input'}}" id="{{name}}" name="{{name}}">{{data.get(name)}}</textarea>
  {% for error in errors.get(name, []) %}
    <span class="form-error">{{error}}</span>
  {% endfor %}
{%- endmacro %}

{% macro select(name, label, options, tooltip='', tooltip_position="top", empty_option=DEFAULT) -%}
  <div>
    <label class="label {{errors.get(name) and 'is-invalid-label'}}" for="{{name}}">{{label}}</label>
    {% if tooltip %}
      <span data-tooltip aria-haspopup="true" class="has-tip {{tooltip_position}}" data-disable-hover="false" title="{{ tooltip }}">
        <i class="bi-question-circle-fill"></i>
      </span>
    {% endif %}
    <select name="{{name}}" id="{{name}}">
      {% if not empty_option is sameas DEFAULT %}
        <option disabled {{is_empty_selected(data, name)}}>{{empty_option}}</option>
      {% endif %}
      {% for option in options %}
        <option value="{{option.value}}" {{is_selected(data, name, option.value)}}>{{option.text}}</option>
      {% endfor %}
    </select>
  </div>
{%- endmacro %}

{% macro select_many_from_formfield(name, label, field, tooltip='', tooltip_position="top") -%}
  <div>
    <label class="label {{errors.get(name) and 'is-invalid-label'}}" for="{{name}}">{{label}}</label>
    {% if tooltip %}
      <span data-tooltip aria-haspopup="true" class="has-tip {{tooltip_position}}" data-disable-hover="false" title="{{ tooltip }}">
        <i class="bi-question-circle-fill"></i>
      </span>
    {% endif %}
    {{field}}
  </div>
{%- endmacro %}

{% macro select_from_formfield(name, label, field, tooltip='', tooltip_position="top") -%}
  <div>
    <label class="label {{errors.get(name) and 'is-invalid-label'}}" for="{{name}}">{{label}}</label>
    {% if tooltip %}
      <span data-tooltip aria-haspopup="true" class="has-tip {{tooltip_position}}" data-disable-hover="false" title="{{ tooltip }}">
        <i class="bi-question-circle-fill"></i>
      </span>
    {% endif %}
    {{field}}
  </div>
{%- endmacro %}

{% macro select_many_from_list(name, label, list, tooltip='', tooltip_position="top") -%}
  <div>
    <label class="label {{errors.get(name) and 'is-invalid-label'}}" for="{{name}}">{{label}}</label>
    {% if tooltip %}
      <span data-tooltip aria-haspopup="true" class="has-tip {{tooltip_position}}" data-disable-hover="false" title="{{ tooltip }}">
        <i class="bi-question-circle-fill"></i>
      </span>
    {% endif %}
    <select multiple name="{{name}}" id="{{name}}">
      {% for item in list %}
        <option value="{{item[0]}}" {{is_in(data, name, item[0])}}>{{item[1]}}</option>
      {% endfor %}
    </select>
  </div>
  <script>
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: document.querySelector('#{{name}}')
    })
  </script>
{%- endmacro %}

{% macro select_from_list(name, label, list, tooltip='', tooltip_position="top", empty_option=DEFAULT) -%}
  <div>
    <label class="label {{errors.get(name) and 'is-invalid-label'}}" for="{{name}}">{{label}}</label>
    {% if tooltip %}
      <span data-tooltip aria-haspopup="true" class="has-tip {{tooltip_position}}" data-disable-hover="false" title="{{ tooltip }}">
        <i class="bi-question-circle-fill"></i>
      </span>
    {% endif %}
    <select name="{{name}}" id="{{name}}">
      {% if not empty_option is sameas DEFAULT %}
          <option disabled {{is_empty_selected(data, name)}}>{{empty_option}}</option>
      {% endif %}
      {% for item in list %}
        <option value="{{item[0]}}" {{is_selected(data, name, item[0])}}>{{item[1]}}</option>
      {% endfor %}
    </select>
  </div>
{%- endmacro %}

{% macro select_with_empty(name, label, options, tooltip='', tooltip_position="top") -%}
  {% if tooltip %}
    <span data-tooltip aria-haspopup="true" class="has-tip {{tooltip_position}}" data-disable-hover="false" title="{{ tooltip }}">
      <i class="bi-question-circle-fill"></i>
    </span>
  {% endif %}
  {{select(name, label, options, empty_option="Please choose one...")}}
{%- endmacro %}

{% macro yes_no(name, label, tooltip='', tooltip_position="top") -%}
  {% if tooltip %}
    <span data-tooltip aria-haspopup="true" class="has-tip {{tooltip_position}}" data-disable-hover="false" title="{{ tooltip }}">
      <i class="bi-question-circle-fill"></i>
    </span>
  {% endif %}
  {{select(name, label, options=({'text': 'Yes', 'value': True}, {'text': 'No', 'value': False}), empty_option="Please select...")}}
{%- endmacro %}

{% macro yes_no_partial(name, label, tooltip='', tooltip_position="top") -%}
  {% if tooltip %}
    <span data-tooltip aria-haspopup="true" class="has-tip {{tooltip_position}}" data-disable-hover="false" title="{{ tooltip }}">
      <i class="bi-question-circle-fill"></i>
    </span>
  {% endif %}
  {{select(name, label, options=({'text': '', 'value': None}, {'text': 'Yes', 'value': 'Yes'}, {'text': 'No', 'value': 'No'}, {'text': 'Partial', 'value': 'Partial'}), empty_option=None)}}
{%- endmacro %}

{% macro checkbox(name, label, tooltip='', tooltip_position="top") -%}
<div>
  <input type="checkbox" class="{{errors.get(name) and 'is-invalid-input'}}" id="{{name}}" name="{{name}}" {{data.get(name) and 'checked' or ''}}>
  <label class="label" for="{{name}}">{{label}}</label>
  {% if tooltip %}
    <span data-tooltip aria-haspopup="true" class="has-tip {{tooltip_position}}" data-disable-hover="false" title="{{ tooltip }}">
      <i class="bi-question-circle-fill"></i>
    </span>
  {% endif %}
  {% for error in errors.get(name, []) %}
    <span class="form-error">{{error}}</span>
  {% endfor %}
</div>
{%- endmacro %}

{% macro checkboxes(name, label, options, tooltip='', tooltip_position="top") -%}
  <fieldset>
    <legend>{{label}}</legend>
    <div class="grid-container">
      <div class="grid-x large-up-4 medium-up-2">
        {% for option in options %}
          <div class="cell">
            <input type="checkbox" class="{{errors.get(name) and 'is-invalid-input'}}" value="{{option.value}}" id="{{name}}_{{option.value}}" name="{{name}}" {{data.get(name) == option.value and 'checked' or ''}}>
            <label class="label" for="{{name}}_{{option.value}}">{{option.text}}</label>
          </div>
        {% endfor %}
      </div>
    </div>
    {% if tooltip %}
      <span data-tooltip aria-haspopup="true" class="has-tip {{tooltip_position}}" data-disable-hover="false" title="{{ tooltip }}">
        <i class="bi-question-circle-fill"></i>
      </span>
    {% endif %}
  </fieldset>
{%- endmacro %}

{% macro buttons(prev_url, id=None, next_url=None) -%}
  <div class="evaluation-button-row">
    <div class="grid-x">
      <div class="cell small-6">
        <a href="{{ prev_url }}" class="button"><i class="bi-caret-left"></i> Back</a>
        {% if id %}
        <a href="{{ url('evaluation-overview', args=[id]) }}" class="button"><i class="bi-house"></i>
          Back to evaluation progress</a>
        {% endif %}
      </div>
      <div class="cell small-6">
        {% if next_url %}
        <a href="{{next_url}}" class="button float-right">Next <i class="bi-caret-right"></i></a>
        {% else %}
        <button type="submit" class="button float-right">Next <i class="bi-caret-right"></i></button>
        {% endif %}
      </div>
    </div>
  </div>
{%- endmacro %}


{% macro buttons_edit(object_name) -%}
  <div class="evaluation-button-row">
    <button type="submit" name="edit" class="button float-right">Edit {{object_name}} <i class="bi-caret-right"></i></button>
  </div>
{%- endmacro %}


{% macro add_another_button(prev_obj_url, object_name) -%}
  <div class="evaluation-button-row">
    <a href="{{prev_obj_url}}" class="button float-left"><i class="bi-caret-left"></i> Previous {{object_name}}</a>
    <button type="submit" name="add" class="padding-left button float-right">Save and add another {{object_name}} <i class="bi-file-earmark-plus"></i></button>
  </div>
{%- endmacro %}


{% macro prev_next_obj_button(prev_obj_url, object_name) -%}
  <div class="evaluation-button-row">
    <a href="{{prev_obj_url}}" class="button float-left"><i class="bi-caret-left"></i> Previous {{object_name}}</a>
    <button type="submit" name="prev_next" class="padding-left button float-right">Save and next {{object_name}}<i class="bi-caret-right"></i></button>
  </div>
{%- endmacro %}


{% macro return_summary_button(object_name) -%}
  <div class="evaluation-button-row">
    <button type="submit" name="return" class="button float-right">Save <i class="bi-save"></i></button>
  </div>
{%- endmacro %}


{% macro delete_button(object_name) -%}
  <div class="evaluation-button-row">
    <button type="submit" name="delete" class="button float-left">Delete <i class="bi-x-circle"></i></button>
  </div>
{%- endmacro %}

{% macro callout(tags) -%}
  <div class="callout {{tags}}" data-closable>
    {{caller()}}
  </div>
{%- endmacro %}

{% macro display_simple_value(name, label, value=None) -%}
  <label class="label" for="{{name}}">{{label}}</label>
  {% if not value and not data[name] %}
    <p>N/A</p>
  {% else %}
    {% if value %}
      <p>{{value}}</p>
    {% else %}
      <p>{{data[name]}}</p>
    {% endif %}
    {% endif %}
{%- endmacro %}

{% macro display_list_value(name, label, value=None) -%}
  <label class="label" for="{{name}}">{{label}}</label>

  {% if not value and not data[name] %}
    <p>N/A</p>
  {% else %}
    <ul>
    {% if value %}
      {% for val in value %}
        <li>{{val}}</li>
      {% endfor %}
    {% else %}
      {% for val in data[name] %}
        <li>{{val}}</li>
      {% endfor %}
    {% endif %}
    </ul>
  {% endif %}
{%- endmacro %}
