{% block outcome %}
  {% for outcome_measure in outcome_measures %}
    Outcome name
    {{outcome_measure.name}}

    Primary or secondary
    {{outcome_measure.primary_or_secondary}}

    Direct or surrogate
    {{outcome_measure.direct_or_surrogate}}

    Description of measure
    {{outcome_measure.description}}

    Collection process
    {{outcome_measure.collection_process}}

    Timepoint(s) of interest
    {{outcome_measure.timepoint}}

    Minimum practically important difference
    {{outcome_measure.minimum_difference}}

    Relevance of outcome
    {{outcome_measure.relevance}}
    
    {{macros.delete_button(outcome_measure.id)}}
    <hr>
  {% endfor %}
{% endblock %}
