{%extends "base.html"%}
{%import 'macros.html' as macros with context%}

{%block content%}
  <form method="POST">{{csrf_input}}
    <fieldset class="fieldset">
      <legend>
        <h3>Participants</h3>
      </legend>
      <h1>Blah, blah, blah</h1>
      <ul>
        <li>Bullet 1</li>
        <li>Bullet 2</li>
      </ul>
      {{macros.textarea("participant_involvement", "Participant involvement")}}
      {{macros.textarea("participant_consent", "Participant consent")}}
      {{macros.textarea("participant_information", "Participant information")}}
      {{macros.textarea("participant_payment", "Participant payment")}}
      {{macros.buttons(prev_url)}}
    </fieldset>
  </form>
{%endblock%}
