{% extends "base.html" %}
{% import 'macros.html' as macros with context %}

{% block content %}
  <form method="POST" action="{{url("evaluation-contributor-remove", evaluation_id, email)}}">{{csrf_input}}
    <fieldset class="fieldset">
      <legend>
        <h3>Remove Contributor</h3>
      </legend>

      <label class="label" for="add-user">Contributor email</label>
      <div class="input-button-pair">
        <input class="input-button-pair-input" placeholder="Enter a contributors email..." type="email" value="{{email}}" id="remove-user-email" name="remove-user-email">
        <button type="submit" class="button input-button-pair-button">Remove</button>
      </div>
    </fieldset>
  </form>
{% endblock %}
