{% extends "base.html" %}
{% import 'macros.html' as macros with context %}

{% block content %}
    <form method="POST">{{ csrf_input }}
        <fieldset class="fieldset">
            <legend>
                <h3>Risks</h3>
            </legend>
            {{ parse_markdown('# Blah, blah, blah\n\n- Bullet 1\n\n- Bullet 2') | safe}}
            {{ macros.textarea("risks_to_participants", "Risks to participants")}}
            {{ macros.textarea("risks_to_study_team", "Risks to study team")}}
            {{ macros.buttons(prev_url)}}
        </fieldset>
    </form>
{% endblock %}