{% import 'macros.html' as macros with context %}

{% extends "base.pug" %}

block content

  form(method="POST")
    {{csrf_input}}

    fieldset(class="fieldset")
      legend
        h3 Risks

      :markdown
        Blah, blah, blah

        * Bullet 1
        * Bullet 2

      {{macros.textarea("risks_to_participants", "Risks to participants")}}

      {{macros.textarea("risks_to_study_team", "Risks to study team")}}

      {{macros.buttons(prev_url)}}
