{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block content %}
<form method="GET" action="{{url('search')}}">
  <div class="sidebarcolumn">
    <div class="col sidebar">
      <input type="hidden" name="active_filter" value="">
      <div class="search-filters ">
        <header>
          <h3 class="highlight header5">Filters</h3>
        </header>
        <ul class="accordion" >
          <li>
           <h3 {% if data.active_filter == "organisations" %} class="active" {% endif %}>
             <button type="button">
              <span class="title">Organisations{% if data.selected_organisations %} <span class="badge filter-control-total" data-name="organisations">{{data.selected_organisations|length}}</span>{% endif %}</span>
            </button>
           </h3>
            <div class="accordion-content">

              <fieldset class="filter-control">

                <div class="mb-16">
                  <input type="text" placeholder="Filter..." class="small full-width mb-8" data-controls="organisations">
                  <button type="reset" class="txt-link small" {% if data.selected_organisations|length < 1 or data.organisations|length < 1 %}disabled{% endif %}>Reset</button>
                </div>

              <div class="scroll">
                {% for organisation in data.organisations %}
                
                  <label class="checkbox">
                    <input name="organisations" {% if is_in(data, "selected_organisations", organisation[0]) %}checked{% endif %} type="checkbox" value="{{ organisation[0] }}">
                    <span class="checkmark"></span>
                    <span>{{organisation[1]}}</span>
                  </label>
                
              {% endfor %}
              </div>
            </fieldset>
            </div>
          </li>
          <li>
            <h3{% if data.active_filter == "evaluation_types" %} class="active" {% endif %}>
              <button type="button">
                <span class="title">Evaluation types{% if data.selected_evaluation_types %} <div class="badge filter-control-total" data-name="evaluation_types">{{data.selected_evaluation_types|length}}</div>{% endif %}</span>
              </button>
            </h3>
            <div class="accordion-content">


              <fieldset class="filter-control">

                <div class="mb-16">
                  <input type="text" placeholder="Filter..." class="small full-width mb-8" data-controls="evaluation_types">
                  <button type="reset" class="txt-link small" {% if data.selected_evaluation_types|length < 1 or data.evaluation_types|length < 1 %}disabled{% endif %}>Reset</button>
                </div>

              <div class="scroll">
              {% for evaluation_type in data.evaluation_types %}
                
                  <label class="checkbox">
                    <input name="evaluation_types" type="checkbox" {% if is_in(data, "selected_evaluation_types", evaluation_type[0]) %}checked{% endif %} value="{{ evaluation_type[0] }}">
                    <span class="checkmark"></span>
                    <span>{{evaluation_type[1]}}</span>
                  </label>
                
              {% endfor %}
             </div>
            </fieldset>

            </div>
          </li>
          <li>
            <h3{% if data.active_filter == "visibility" %} class="active" {% endif %}>
              <button type="button">
                <span class="title">Visibility{% if data.selected_visibilities %} <div class="badge filter-control-total" data-name="visibility">{{data.selected_visibilities|length}}</div>{% endif %}</span>
              </button>
            </h3>
            <div class="accordion-content">

              <fieldset class="filter-control">

                <div class="mb-16">
                  <input type="text" placeholder="Filter..." class="small full-width mb-8" data-controls="visibility">
                  <button type="reset" class="txt-link small" {% if data.selected_visibilities|length < 1 or data.selected_visibilities|length < 1 %}disabled{% endif %}>Reset</button>
                </div>

              <div class="scroll">
                {% for visibility in data.visibilities %}
                
                  <label class="checkbox">
                    <input name="visibility" type="checkbox" {% if is_in(data, "selected_visibilities", visibility[0]) %}checked{% endif %} value="{{ visibility[0] }}">
                    <span class="checkmark"></span>
                    <span>{{visibility[1]}}</span>
                  </label>
                
              {% endfor %}
              </div>
            </fieldset>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="searchbox mb-16">
        <input name="search_term" type="search" value="{{data.search_term}}" placeholder="Search keywords..." class="large full-width search-icon">
        <button class="bttn-primary" type="submit">Search</button>
      </div>
      {% if not data.evaluations or data.evaluations|length == 0 %}
        <div class="searchbox-intro">
          <p>Search through <b class="highlight">{{data.total_evaluations}} evaluations</b></p>
          <p><i>Start your evaluation search with keywords or by making a filter selection</i></p>
        </div>
      {% else %}
        <div class="search-status">
          <div class="nowrap"><b>{{data.evaluations|length}}</b> result{% if data.evaluations|length != 1 %}s{%endif%} found</div>
          <div>
            {% for organisation in data.selected_organisations %}
              <div class="chip orange">
              {% set relevant_item = data.organisations | selectattr('0', '==', organisation) | first %}
                {{relevant_item[1]}}
                <a href="{{data.current_url | replace('organisations=' + relevant_item[0], '')}}" title="close" class="close">
                  {{macros.cross_svg()}}
                </a>
              </div>
            {% endfor %}
            {% for evaluation_type in data.selected_evaluation_types %}
              <div class="chip orange">
              {% set relevant_item = data.evaluation_types | selectattr('0', '==', evaluation_type) | first %}
                {{relevant_item[1]}}
                <a href="{{data.current_url | replace('evaluation_types=' + relevant_item[0], '')}}" title="close" class="close">
                  {{macros.cross_svg()}}
                </a>
              </div>
            {% endfor %}
            {% for visibility in data.selected_visibilities %}
              <div class="chip orange">
              {% set relevant_item = data.visibilities | selectattr('0', '==', visibility) | first %}
                {{relevant_item[1]}}
                <a href="{{data.current_url | replace('visibility=' + relevant_item[0], '')}}" title="close" class="close">
                  {{macros.cross_svg()}}
                </a>
              </div>
            {% endfor %}
          </div>
          <div class="nowrap"><a href="{{url('search')}}" class="small">Clear all filters</a></div>
        </div>

        <div class="card-results">
          {% for evaluation in data.evaluations %}
          <a href="{{url('evaluation-overview-filter-users', evaluation.id)}}" class="basic-link">
            <div class="card small">
            <h2 class="header4">{% if evaluation.title %}{{evaluation.title}}{% else %}No title provided{% endif %}</h2>
            <p>{{evaluation.brief_description}}</p>

            <table>
              <tr>
                <th>Visibility</th>
                <td>{{evaluation.get_visibility_display_name()}}</td>
              </tr>
              <tr>
                <th>Organisation(s)</th>
                <td>{{evaluation.get_list_organisations_display_names()|join(', ')}}</td>
              </tr>
              <tr>
                <th>Evaluation type</th>
                <td>{{evaluation.get_list_evaluation_types_display_names()|join(', ')}}</td>
              </tr>

              <tr>
                <th>Interventions</th>
                <td>{% for intervention in evaluation.get_related_intervention_names() %}
                    {{ intervention }}<br>
                  {% endfor %}</td>
              </tr>
              <tr>
                <th>Outcome measures</th>
                <td>{% for outcome_measure in evaluation.get_related_outcome_measure_names() %}
                    {{ outcome_measure }}<br>
                  {% endfor %}</td>
              </tr>
            </table>
          </div>
        </a>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</form>
{% endblock %}
