{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block content %}
  <form method="get">
    <input type="hidden" value="False" name="is_search" id="is_search">
    {{macros.textarea("search_phrase", "Search phrase")}}
    {{macros.select_many_from_formfield("topics", "Topics", field=form.topics)}}
    {{macros.select_many_from_formfield("organisations", "Organisations", field=form.organisations)}}
    {{macros.select_from_formfield("status", "Evaluation status", field=form.status)}}
    {{macros.checkbox("mine_only", "Only my evaluations")}}
    <input type="submit" value="Submit">
  </form>

  {{macros.crown_svg()}}
{% endblock %}
