{% extends "base-redesign.html" %}
{% import "macros.html" as macros with context %}

{% block content %}

  <div class="sidebarcolumn">
    <div class="col">
    <form method="GET" action="{{url('search')}}">
      <div class="sidebar search-filters ">
        <header>
          <h3 class="highlight header5">Filters</h3>
        </header>
        <ul class="accordion" >
          <li>
           <h3>
             <button type="button">
              <div class="title">Organisations <div class="badge filter-control-total" data-name="organisations">{{data.selected_organisations|length}}</div></div>
              <div class="icon"></div>
            </button>
           </h3>
            <div class="accordion-content">

              <fieldset class="filter-control">

                <div class="mb-16">
                  <input type="text" placeholder="Filter..." class="small full-width mb-8" />
                  <button type="reset" class="txt-link small" {% if data.selected_organisations|length < 1 %}disabled{% endif %}>Reset</button>
                </div>

              <div class="scroll">
                {% for organisation in data.organisations %}
                <div class="row">
                  <label class="checkbox">
                    <input name="organisations" {% if is_in(data, "selected_organisations", organisation[0]) %}checked{% endif %} type="checkbox" value="{{ organisation[0] }}" />
                    <div class="checkmark"></div>
                    <span>{{organisation[1]}}</span>
                  </label>
                </div>
              {% endfor %}
              </div>
            </fieldset>
            </div>
          </li>
          <li>
            <h3>
              <button type="button">
                <div class="title">Topics <div class="badge filter-control-total" data-name="topics">{{data.selected_topics|length}}</div></div>
                <div class="icon"></div>
              </button>
            </h3>
            <div class="accordion-content">


              <fieldset class="filter-control">

                <div class="mb-16">
                  <input type="text" placeholder="Filter..." class="small full-width mb-8" />
                  <button type="reset" class="txt-link small" {% if data.selected_topics|length < 1 %}disabled{% endif %}>Reset</button>
                </div>
  
              <div class="scroll">
                {% for topic in data.topics %}
                <div class="row">
                  <label class="checkbox">
                    <input name="topics" type="checkbox" {% if is_in(data, "selected_topics", topic[0]) %}checked{% endif %} value="{{ topic[0] }}" />
                    <div class="checkmark"></div>
                    <span>{{topic[1]}}</span>
                  </label>
                </div>
              {% endfor %}
              </div>
              </fieldset>
            </div>
          </li>
          <li>
            <h3>
              <button type="button">
                <div class="title">Evaluation types <div class="badge filter-control-total" data-name="evaluation_types">{{data.selected_evaluation_types|length}}</div></div>
                <div class="icon"></div>
              </button>
            </h3>
            <div class="accordion-content">


              <fieldset class="filter-control">

                <div class="mb-16">
                  <input type="text" placeholder="Filter..." class="small full-width mb-8" />
                  <button type="reset" class="txt-link small" {% if data.selected_evaluation_types|length < 1 %}disabled{% endif %}>Reset</button>
                </div>

              <div class="scroll">
              {% for evaluation_type in data.evaluation_types %}
                <div class="row">
                  <label class="checkbox">
                    <input name="evaluation_types" type="checkbox" {% if is_in(data, "selected_evaluation_types", evaluation_type[0]) %}checked{% endif %} value="{{ evaluation_type[0] }}" />
                    <div class="checkmark"></div>
                    <span>{{evaluation_type[1]}}</span>
                  </label>
                </div>
              {% endfor %}
             </div>
            </fieldset>

            </div>
          </li>
          <li>
            <h3>
              <button type="button">
                <div class="title">Status <div class="badge filter-control-total" data-name="status">{{data.selected_statuses|length}}</div></div>
                <div class="icon"></div>
              </button>
            </h3>
            <div class="accordion-content">

              <fieldset class="filter-control">

                <div class="mb-16">
                  <input type="text" placeholder="Filter..." class="small full-width mb-8" />
                  <button type="reset" class="txt-link small" {% if data.selected_statuses|length < 1 %}disabled{% endif %}>Reset</button>
                </div>

              <div class="scroll">
                {% for status in data.statuses %}
                <div class="row">
                  <label class="checkbox">
                    <input name="status" type="checkbox" {% if is_in(data, "selected_statuses", status[0]) %}checked{% endif %} value="{{ status[0] }}" />
                    <div class="checkmark"></div>
                    <span>{{status[1]}}</span>
                  </label>
                </div>
              {% endfor %}
              </div>
            </fieldset>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="searchbox mb-16">
        <input name="search_text" type="search" value="{{data.search_text}}" placeholder="Search keywords..." class="large full-width" />
        <button class="bttn-primary" type="submit">Search</button>
      </div>
    </form>
      {% if not data.evaluations or data.evaluations|length == 0 %}
        <div class="searchbox-intro">
          <p>Search through <b class="highlight">12,345 evaluations</b></p>
          <p><i>Start your evaluation search with keywords or by making a filter selection</i></p>
        </div>
      {% else %}
        <div class="search-status">
          <div><b>{{data.evaluations|length}}</b> result{% if data.evaluations|length != 1 %}s{%endif%} found</div>
          <div>
            <div class="chip">
              Accelerated Access Review (AAR)
              <a href="#" title="close" class="close">
                <svg width="1em" height="1em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22 4.79998L19.2 2L12 9.19999L4.79998 2L2 4.79998L9.19999 12L2 19.2L4.79998 22L12 14.8L19.2 22L22 19.2L14.8 12L22 4.79998Z" fill="currentColor"/>
                </svg>
              </a>
            </div>
          </div>
          <div><a href="{{url('search')}}" class="small">Clear all filters</a></div>
        </div>

        <div class="search-results">
          {% for evaluation in data.evaluations %}
            <div class="card small">
            <h2 class="header4">{% if evaluation.title %}{{evaluation.title}}{% else %}No title provided{% endif %}</h2>
            <p>{{evaluation.brief_description}}</p>

            <table>
              <tr>
                <th>Status</th>
                <td>{{evaluation.get_status_display_name()}}</td>
              </tr>
              <tr>
                <th>Organisation(s)</th>
                <td>{{evaluation.get_list_organisations_display_names()|join(', ')}}</td>
              </tr>
              <tr>
                <th>Evaluation type</th>
                <td>{{evaluation.get_list_evaluation_types_display_names()|join(', ')}}</td>
              </tr>

              <tr>
                <th>Title of Interventions</th>
                <td>{% for intervention in evaluation.get_related_intervention_names() %}
                    {{ intervention }}<br>
                  {% endfor %}</td>
              </tr>
              <tr>
                <th>Title of Outcome measures</th>
                <td>{% for outcome_measure in evaluation.get_related_outcome_measure_names() %}
                    {{ outcome_measure }}<br>
                  {% endfor %}</td>
              </tr>
            </table>
          </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
