{% extends "base.html" %}
{% import 'macros.html' as macros with context %}

{% block content %}

<h1 class="header2 highlight">Terms and Conditions</h1>
<div class ="card small mb-24">

<h2 class="header4 highlight">Terms and Conditions of use for the registry</h2>
<ol>
<li>This service is for Civil Servants only and can only be accessed with a Civil Service Email Domain
  <ol type="a">
    <li>External bodies, like contractors and research partners can be granted access to the registry but access will be limited to an evaluation</li>
    <li>Where we will do our best to ensure civil service access only, we can not guarantee this is the case.</li>
  </ol>
  
</li>
<li>Any data that is uploaded or is part of the registry, may not be downloaded and/or shared externally outside the civil service</li>
<li>Do not attempt to hack or misuse the system. If you have spotted a flaw or security exploit, please let us know</li>
<li>If you have access to something you don't think you should, please let us know</li>
<li>The Evaluation Registry is designed to hold OFFICIAL data. Do not upload anything above this classification. If you need to reference this data, please include a link to a secure storage location. Any data found above OFFICIAL will be removed without notice</li>
<li>We will endeavour to keep the registry live 24/7 and get data secure and integral. We do advise you to keep a copy of your data within the department.</li>
</ol>
</div>




{% endblock %}