{%extends "base.html"%}
{%import 'macros.html' as macros with context%}

{%block content%}
  <form method="POST">{{csrf_input}}
    <fieldset class="fieldset">
      <legend>
        <h3>Title of evaluation</h3>
      </legend>
      {{macros.input(name="title", label="Give a title for this evaluation", hoverover="Please provide a full / descriptive title for the evaluation. This should normally include a name or description of the interventions being evaluated. Spell out any abbreviations unless they are very familiar (e.g. NHS).")}}
      {{macros.buttons(prev_url)}}
    </fieldset>
  </form>
{%endblock%}
