django<3.3
django-allauth
django-cors-headers
django-environ
django-glrm
django-gov-notify
django_use_email_as_username
faker
furl
jinja2
markdown-it-py
marshmallow
openpyxl
pandas
pdfkit
psycopg2-binary
pytz
pyyaml
sentry-sdk
waitress
watchdog[watchmedo]
whitenoise
