doctype html
html(lang="en")
  head
    head
      meta(charset="UTF-8")
      link(rel="icon", type="image/svg+xml", href="{{static('i-dot-ai/images/crown.svg')}}")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="x-ua-compatible", content="ie=edge")
      title Business Case Approval
      link(rel="stylesheet", href="{{static('foundation/css/foundation.css')}}")
      link(rel="stylesheet", href="{{static('foundation/css/app.css')}}")
      link(rel="stylesheet", href="{{static('bootstrap-icons/bootstrap-icons.css')}}")

    body
      section
        div.grid-x
          div.cell.small-3
          div.cell.small-6
            block content
          div.cell.small-3
