{% import 'macros.html' as macros with context %}

{% extends "base.pug" %}

block content

  form(method="POST")
    {{csrf_input}}

    fieldset(class="fieldset")
      legend
        h1 Establishment

      :markdown
        Working towards agreed headcounts by the end of March 23 for overall BU, not individual team level.

        * Do you have an agreed plan to meet the BUs CO2025 threshold by the end of the financial year? If so, please provide evidence.
        * How does this request fit into your plans?
        * What the lowest priority piece of working happening in the BU is, and whether these resources could be reallocated?
        * Have you reviewed your structure and identified headcount efficiencies?
        * Have you reviewed potential surplus staff within your/similar business units?

      {{macros.textarea("establishment", "Establishment")}}

      a.btn-primary(href='{{prev_url}}') Back
      input(type="submit" class="btn-primary" value="Next")
