{% import 'macros.html' as macros with context %}

{% extends "base.html" %}

{% block content %}

{{errors}}
  {{data}}

  <form>

    <fieldset class="fieldset">
      <legend>
        <h1>
          BU / Exemption admin - all roles
        </h1>
      </legend>

      {{macros.input("hrbp", "Who is your HRBP?")}}

      {{macros.select("grade", "Grade of post(s) / Equivalent if Contingent Labour", options=grades)}}

    </fieldset>

  </form>

  <a class="btn-primary" href="{{next_url}}">Next</a>

{% endblock %}
