{% import 'macros.html' as macros with context %}

{% extends "base.pug" %}

block content

  form(method="POST")
    {{csrf_input}}

    fieldset(class="fieldset")
      legend
        h1 Reason for post / Impact statement - all roles

      p.warning 500 word limit - Please be concise and specific when answering all relevant questions in the guidance.

      :markdown
        * Why do you need the post(s)?
        * Is the role specialist and cannot be easily recruited?
        * Explain the specialist nature of these skills?
        * How does the post(s) add value? Please ensure this is specific to each post but be concise in your answer.
        * What is the impact if the business case is rejected what is the risk?

      {{macros.textarea("establishment", "Establishment")}}

      {{macros.buttons(prev_url)}}
