extends base.pug

block content

    h1 Hello!
      - if not request.user.is_authenticated
          p
            a(href="{{url('account_login')}}') Login
          p
            a(href=url('account_signup')) Register
      - if request.user.is_authenticated
        p
          a(href=url('account_logout')) Logout

      - for application in applications
        p {{application.name}}

    form(method="POST")
      {{csrf_input}}
      input(type="submit" class="btn-primary" value="New Application")
