{% extends "base.html" %}

{% block content %}

  <h1>Hello!</h1>

  {% if not request.user.is_authenticated %}
    <p>
      <a href="{{url('account_login')}}">Login</a>
    </p>
    <p>
      <a href="{{url('account_signup')}}">Register</a>
    </p>
  {% endif %}

  {% if request.user.is_authenticated %}
    <p>
      <a href="{{url('account_logout')}}">Logout</a>
    </p>

    {% for application in applications %}
      <p>{{application.name}}</p>
    {% endfor %}

    <a class="btn-primary" href="{{next_url}}">
      New Application
    </a>

  {% endif %}

{% endblock %}
