extends base.pug

block content

  - if not request.user.is_authenticated
    div.card
      div.card-divider Login or register
        div.button-group.align-spaced
          a.button(href=url('account_login')) Login 
            i.bi-box-arrow-in-right
          a.button(href=url('account_signup')) Register 
            i.bi-clipboard-check

  - if request.user.is_authenticated
    form(method="POST")
      {{csrf_input}}
      button(type="submit" class="button") Create Application 
        i.bi-file-earmark-plus
