{% extends "base.pug" %}

block content

  :markdown
    # RECRUITMENT EXEMPTION BUSINESS CASE

    1) The Cabinet Office operates a Recruitment Approvals Process in line with CO2025 workforce planning. All SCS and Contingent Labour requests must be reviewed by the panel, please read the full People Approvals Framework for further details.
        1. BUs with headroom between their current Civil Service FTE on payroll and their C02025 threshold for 22/23 can proceed to fill most roles so long as their principal budget holder has signed off (Green rated).
        2. BUs with urgent and essential recruitments will have to show where programmes would be significantly delayed or where there is a palpable risk of disruption to service or delivery and how they will work to meet their CO2025 threshold by the end of the financial year (Red rated)
    2) This business case template is to be used for all positions being requested. Please ensure a separate business case is completed and submitted for different roles, grades and recruitment methods and do not submit one case to cover these.
    3) You will need to ensure:
        1. You have consulted with your HRBP, principal budget holder and finance business partner to ensure the role is within headcount, within the scope of your locations strategy affordable and reviewed within spans of control.
        2. Where applicable, a job evaluation is completed as it will be needed when uploading your approved case on to the system - refer to the process map.
        3. If a Higher Starting Salary (HSS) is applicable, you'll need separate approval for that too - the panel only provides permission to recruit / fill an appointment not to award a HSS.
    4) Once approval is received (Green units - Principal budget holder approval needed and Red-Recruitment Approvals), the CO Resourcing Hub must be consulted via co.hub@cabinetoffice.gov.uk - Wherever possible staff will be redeployed and retrained - this will be our first priority. Please complete Annex A with the job specification so that this can be reviewed against any registered individuals in the Hub.

    *Queries*. Please speak to your HRBP in the first instance who will liaise with the Recruitment Approvals team if needed.

  a.btn-primary(href='{{next_url}}') New Application Foo
