{% import 'macros.html' as macros with context %}

{% extends "base.pug" %}

block content

  form(method="POST")
    {{csrf_input}}

    fieldset(class="fieldset")
      legend
        h1 Justification - all roles

      {{macros.yes_no("ddat_role", "Is this a role on the DDaT framework?")}}
      {{macros.select_with_empty("ddat_family", "If so, which family does it belong to?", options=ddat_families)}}
      {{macros.select_with_empty("funding_source", "Where is the funding coming from?", options=funding_sources)}}
      {{macros.select_with_empty("recruitment_type", "Type of contract/recruitment?", options=recruitment_types)}}
      {{macros.select_with_empty("recruitment_mechanism", "Recruitment Mechanism?", options=recruitment_mechanisms)}}

      p
        For SCS roles requesting anything other than external advertising, please complete the SCS section later.

      {{macros.buttons(prev_url)}}
