{% import 'macros.html' as macros with context %}

{% extends "base.pug" %}

block content

  form(method="POST")
    {{csrf_input}}

    fieldset(class="fieldset")
      legend
        h1 Locations - all roles

      p Preferred location?
      p.warning A role must be assigned to a cost- code location even if wfh. You are also requested not to put National if unsure. Refer to your BU's Location Strategy. Please check all applicable locations.

      {{macros.checkbox("location_strategy", "Are those selected below in line with your BU locations strategy?")}}
      {{macros.checkboxes("locations", "Locations", options=locations)}}
      {{macros.select_with_empty("london_reason", "If London, why?", options=london_reasons)}}

      {{macros.buttons(prev_url)}}
