{% macro input(name, label, type='text') -%}
  <label class="{{errors.get(name) and 'is-invalid-label'}}" for="{{name}}">{{label}}
    <input type="{{type}}" class="{{errors.get(name) and 'is-invalid-input'}}" value="{{data.get(name)}}" id="{{name}}" name="{{name}}">
  </label>
  {% for error in errors.get(name, []) %}
    <span class="form-error">{{error}}</span>
  {% endfor %}
{%- endmacro %}

{% macro textarea(name, label) -%}
  <label class="{{errors.get(name) and 'is-invalid-label'}}" for="{{name}}">{{label}}
    <textarea class="{{errors.get(name) and 'is-invalid-input'}}" id="{{name}}" name="{{name}}">{{data.get(name)}}</textarea>
  </label>
  {% for error in errors.get(name, []) %}
    <span class="form-error">{{error}}</span>
  {% endfor %}
{%- endmacro %}

{% macro select(name, label, options, empty_option=False) -%}
  <div>
    <label class="label" for="{{name}}">{{label}}</label>
    <select name="{{name}}" id="{{name}}">
      {% if empty_option %}
        <option value="" disabled {{(not data.get(name)) and 'selected'}}>{{empty_option}}</option>
      {% endif %}
      {% for option in options %}
        <option value="{{option.value}}" {{data.get(name) == option.value and 'selected'}}>{{option.text}}</option>
      {% endfor %}
    </select>
  </div>
{%- endmacro %}

{% macro checkbox(name, label) -%}
  <div>
      <label class="label" for="{{name}}">{{label}}</label>
      <input type="checkbox" class="{{errors.get(name) and 'invalid'}}" id="{{name}}" name="{{name}}" {{data.get(name) == name and 'checked'}}>
  </div>
{%- endmacro %}

{% macro checkboxes(name, label, options) -%}
  <div>
    <p>{{label}}</p>
    {% for option in options %}
      <label class="label" for="{{name}}_{{option.value}}">{{option.text}}</label>
      <input type="checkbox" class="{{errors.get(name) and 'invalid'}}" value="{{option.value}}" id="{{name}}_{{option.value}}" name="{{name}}" {{data.get(name) == option.value and 'checked'}}>
    {% endfor %}
  </div>
{%- endmacro %}

{% macro buttons(prev_url) -%}
  <a href="{{prev_url}}" class="button float-left"><i class="fi-arrow-left"></i> Back</a>
  <button type="submit" class="button float-right">Next <i class="fi-arrow-right"></i></button>
{%- endmacro%}
