{% import 'macros.html' as macros with context %}

{% extends "base.pug" %}

block content

  form(method="POST")
    {{csrf_input}}

    fieldset(class="fieldset")
      legend
        h3 SCS Roles

      p Spans of control: we expect designs to align to the outlined spans of control for SCS within the current
Business Rules at a minimum of 1 to 4 for policy/specialist roles and 1 to 6 for operational roles. These current
standards may be subject to change as wider work on workforce, spans and spines and delayering is
undertaken.

      {{macros.textarea("scs_adverts", "SCS recruitment should be advertised externally by default. Any exemptions to this need to be approved by a Minister so please include any rationale for these requests so they can be submitted for review.")}}
      {{macros.textarea("scs_assignments_lengths", "It is expected that standard assignment lengths for SCS1 and SCS2 should be a minimum of three years unless stipulated otherwise and any exceptions must be recorded. Please include specific rationale if this applies to this post.")}}

      p
        For SCS roles requesting anything other than external advertising, please complete the SCS section later.

      {{macros.buttons(prev_url)}}
