{% extends "base.html" %}
{% import 'macros.html' as macros with context %}

{% block content %}


<nav aria-label="Breadcrumb" class="breadcrumb">
  <ol>
    <li>
      <a href="#">Back to My evaluations</a>
    </li>
    <li>
      <a href="#">Evaluation name #01</a>
    </li>
    <li aria-current="true">Collaborators</li>
  </ol>
</nav>

<h1 class="header2 highlight">Collaborators</h1>

<div class="card mb-24">

  <h2 class="header3 highlight" id="add-heading">Invite collaborator</h3>

  <form method="POST" class="invite-collaborator space-between" style="align-items: end;">{{csrf_input}}

    <div class="form-group full-width mb-0">
      <label for="add-user-email">Email</label>
      <input aria-labelledby="add-heading" id="add-user-email" type="email" class="full-width" value="" name="add-user-email" placeholder="Contributors email..." required>
    </div>
    <button type="submit" class="bttn-primary">Invite collaborator</button>
   </form>
</div>


<div class="card small">
      
  <table class="datagrid">
    <thead>
      <tr>
        <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
    {% for c in contributors %}
      <tr>
        <td>{{c.email}}{% if not c.has_signed_up %} (invited){% endif %}</td>
        <td>{{c.email}}{% if not c.has_signed_up %} (invited){% endif %}</td>
        <td>Owner</td>
        <td class="cta">
          <form method="POST" action="{{url("evaluation-contributor-remove", evaluation_id, c.email)}}">{{csrf_input}}
            <button class="txt-link error small" type="submit"
            {% if contributors | length <= 1 %} disabled {% endif %}>Remove</button>
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

</div>


{% endblock %}
