{% extends "base.html" %}
{% import 'macros.html' as macros with context %}

{% block content %}


<nav aria-label="Breadcrumb" class="breadcrumb">
  <ol>
    <li>
      <a href="{{url("my-evaluations")}}">Back to My evaluations</a>
    </li>
    <li>
      <a href="{{url("intro", evaluation.id)}}">{{evaluation.title and evaluation.title or "Back to evaluation"}}</a>
    </li>
    <li aria-current="true">Collaborators</li>
  </ol>
</nav>

<h1 class="header2 highlight">Collaborators</h1>

<div class="card mb-24">

  <h2 class="header3 highlight" id="add-heading">Invite collaborator</h3>

  <form method="POST" class="invite-collaborator space-between">{{csrf_input}}

    <div class="form-group {% if errors.get("email", []) %}error{% endif %} full-width mb-0">
      <label for="add-user-email">Email</label>
      <input id="add-user-email" type="email" class="full-width" value="" name="email" placeholder="Contributors email..." required>
      {% if errors.get("email", []) %}
        <div class="helper">{{errors.get("email")|join(" ")}}</div>
      {% endif %}
    </div>
    <button type="submit" class="bttn-primary">Invite collaborator</button>
   </form>
</div>


<div class="card small">
      
  <table class="datagrid">
    <thead>
      <tr>
        <th>Email</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
    {% for c in contributors %}
      <tr>
        <td>{{c.email}}{% if not c.has_signed_up %} (invited){% endif %}</td>
        <td class="cta">
          {% if not contributors | length <= 1 %}
          <form method="POST" action="{{url("evaluation-contributor-remove", evaluation.id, c.email)}}">{{csrf_input}}
            <button class="txt-link error small" type="submit">Remove</button>
          </form>
        {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

</div>


{% endblock %}
