label.checkbox {
  font-weight: 400;
  font-size: 16px;
  display: flex;
  align-items: top;
  gap: var(--spacing-8);
  cursor: pointer;

  & .checkmark {
    flex: 0 0 var(--checkmark-size-small);
    height: var(--checkmark-size-small);
    width: var(--checkmark-size-small);
    border: 2px solid var(--input-stroke-light);
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color var(--animation-speed),
      background-color var(--animation-speed);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    &:before {
      content: svg-load('tick.svg', fill=#ffffff, width=18, height=18);
      line-height: 0;
      transition-delay: var(--animation-speed);
      transition: all var(--animation-speed);
      opacity: 0;
      transform: scale(0.4);
      display: block;
    }
  }

  & input[type='checkbox'] {
    display: none;

    &:checked {
      & + .checkmark {
        border-color: var(--color-input-active);
        background-color: var(--color-input-active);
        &:before {
          opacity: 1;
          transform: scale(1);
        }
      }
      & ~ span {
        font-weight: 600;
      }
    }

    &:disabled {
      & ~ span,
      & + .checkmark {
        opacity: 0.3;
        cursor: not-allowed;
      }
    }

    &:focus + .checkmark {
      border-color: var(--tab-stroke);
    }
  }

  & span {
    padding-top: 3px;
  }

  &.large {
    & .checkmark {
      flex: 0 0 var(--checkmark-size-large);
      height: var(--checkmark-size-large);
      &:before {
        content: svg-load('tick.svg', fill=#ffffff, width=24, height=24);
      }
    }
  }
}
