select[multiple],
textarea,
input {
  font-family: var(--text-font-family);
  background-color: var(--color-bg-white);
  border: 1px solid var(--input-stroke-light);
  border-radius: 8px;
  font-weight: 300;
  font-size: 16px;
  padding: 8px 16px;
  box-sizing: border-box;
  &::placeholder {
    color: var(--color-grey-light);
    font-style: italic;
  }

  &:focus {
    outline: 2px solid var(--input-stroke-dark);
  }

  &.full-width {
    width: 100%;
  }
}

textarea {
  min-height: 120px;
}

input {
  min-height: 40px;

  &.large {
    padding: 13px 16px;
  }

  &.small {
    padding: 4px 12px 4px 12px;
    font-size: var(--text-small);
  }

  &.search-icon {
    background-image: svg-load('search.svg', fill=#43F51, width=24, height=24);
    background-position: 12px center;
    background-repeat: no-repeat;
    text-indent: 30px;
  }
}

.select,
.date-picker {
  &.full-width {
    width: 100%;
    box-sizing: border-box;
  }
}

.select {
  cursor: pointer;
  transition: color ease-in-out var(--animation-speed),
    background-color ease-in-out var(--animation-speed);
  border-radius: 8px;
  background-color: rgba(204, 204, 204, 0.2);
  display: inline-flex;
  align-items: center;
  padding-right: 16px;
  color: var(--color-grey-light);

  &:after {
    content: svg-load('arrow-down.svg', width=12, height=12);
    filter: invert(38%) sepia(12%) saturate(7%) hue-rotate(336deg) brightness(98%)
      contrast(83%);
  }

  &:hover {
    color: var(--color-link);
    background-color: rgba(0, 80, 199, 0.2);
    &:after {
      filter: invert(13%) sepia(99%) saturate(6294%) hue-rotate(210deg) brightness(93%)
        contrast(102%);
    }
  }

  &.disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  &.has-value select {
    font-weight: 600;
  }

  & select {
    padding: 0 22px 0 16px;
    background: transparent;
    height: 40px;
    border: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    outline: none;
    width: 100%;
    color: inherit;
    background-color: transparent;
    border: none;
    appearance: none;
  }
}

.date-picker {
  position: relative;
  display: inline-block;
  min-width: 190px;

  &:before {
    content: '';
    display: block;
    background: svg-load('calendar.svg', fill=#343F51, width=24, height=24) center center
      no-repeat;
    width: 24px;
    height: 100%;
    border-width: thin;
    position: absolute;
    left: 18px;
    bottom: 0;
  }

  & input[type='date'] {
    text-indent: 18px;
    width: 100%;
    /* bug fix: safari mobile input alignment */
    -webkit-appearance: none;

    &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator {
      /* position but hide over svg so clicks work in chrome */
      opacity: 0;
      left: 0;
      position: absolute;
      width: 45px;
      height: 100%;
      border: 1px solid #ccc;
      z-index: 2;
      color: red;
    }
  }
}

.row {
  & label {
    margin-bottom: var(--spacing-8);
    display: block;
    font-weight: 600;
    &.error {
      color: var(--color-error);
      & ~ .helper {
        color: var(--color-error);
      }
      & ~ input {
        border-color: var(--color-error);
      }
    }
  }

  & .description {
    font-size: var(--text-small);
  }

  & .helper {
    font-size: var(--text-smallest);
  }

  & [is='hint-box'] {
    margin-top: var(--spacing-8);
  }

  /* &.error {
    & label,
    & .helper {
      color: var(--color-error);
    }
    & input {
      border-color: var(--color-error);
    }
  } */
}
