select,
textarea,
input,
[is='multi-select'] selectmenu {
  font-family: var(--text-font-family);
  background-color: var(--color-bg-white);
  border: 1px solid var(--input-stroke-light);
  border-radius: 8px;
  font-weight: 300;
  font-size: 16px;
  padding: 8px 16px;
  box-sizing: border-box;
  transition: outline ease-in-out var(--animation-speed);
  &::placeholder {
    color: var(--color-grey-light);
    font-style: italic;
  }

  &:focus {
    outline: 2px solid var(--input-stroke-dark);
  }

  &:disabled {
    opacity: 0.6;
    pointer-events: none;
    cursor: not-allowed;
  }

  &.full-width {
    width: 100%;
  }
}

textarea {
  min-height: 120px;
}

input {
  min-height: 40px;

  &.large {
    padding: 13px 16px;
  }

  &.small {
    padding: 4px 12px 4px 12px;
    font-size: var(--text-small);
  }

  &.search-icon {
    background-image: svg-load('search.svg', fill=#43F51, width=24, height=24);
    background-position: 12px center;
    background-repeat: no-repeat;
    text-indent: 30px;
  }
}

:is([is='select-field'], .date-picker) {
  &:has(.full-width) {
    width: 100%;
    box-sizing: border-box;
  }
}

.date-picker {
  position: relative;
  display: inline-block;
  min-width: 190px;

  &:before {
    content: '';
    display: block;
    background: svg-load('calendar.svg', fill=#343F51, width=24, height=24) center center
      no-repeat;
    width: 24px;
    height: 100%;
    border-width: thin;
    position: absolute;
    left: 18px;
    bottom: 0;
  }

  & input[type='date'] {
    text-indent: 18px;
    width: 100%;
    /* bug fix: safari mobile input alignment */
    -webkit-appearance: none;

    &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator {
      /* position but hide over svg so clicks work in chrome */
      opacity: 0;
      left: 0;
      position: absolute;
      width: 45px;
      height: 100%;
      border: 1px solid #ccc;
      z-index: 2;
      color: red;
    }
  }
}

.helper {
  font-size: var(--text-smallest);
  display: flex;
  align-items: center;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;

  & legend {
    margin-bottom: var(--spacing-8);
    font-weight: 600;
    font-size: 16px;
    & :is(h1, h2, h3, h4, h5, h6) {
      font-size: inherit;
      font-weight: inherit;
      margin: 0;
    }
  }
}

.radio,
.checkbox {
  & + .controller-subfield {
    display: none;
    border-left: 4px solid var(--color-link);
    padding: 0 var(--spacing-16);
    margin-left: calc(var(--checkmark-size-small) / 2);
  }

  &.large + .controller-subfield {
    margin-left: calc(var(--checkmark-size-large) / 2);
  }

  &:has(input:checked) + .controller-subfield {
    display: block;
  }
}
