select[multiple],
textarea,
input {
  font-family: var(--text-font-family);
  background-color: var(--color-bg-white);
  border: 1px solid var(--input-stroke-light);
  border-radius: 8px;
  font-weight: 300;
  font-size: 16px;
  padding: 8px 16px;
  box-sizing: border-box;
  &::placeholder {
    color: var(--color-grey-light);
    font-style: italic;
  }

  &:focus {
    outline: 2px solid var(--input-stroke-dark);
  }

  &.full-width {
    width: 100%;
  }
}

textarea {
  min-height: 120px;
}

input {
  min-height: 40px;

  &.large {
    padding: 13px 16px;
  }

  &.small {
    padding: 4px 12px 4px 12px;
    font-size: var(--text-small);
  }

  &.search-icon {
    /* background-image: url(/static/i-dot-ai/images/search.svg); */
    background-image: url("data:image/svg+xml,<svg width='24' height='24' fill='%2343F51' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M21.5264 18.9713L16.9282 14.3728C17.7095 13.129 18.1629 11.659 18.1629 10.0813C18.1629 5.61786 14.5446 2 10.0813 2C5.61803 2 2 5.61786 2 10.0813C2 14.5449 5.61786 18.1624 10.0813 18.1624C11.7982 18.1624 13.3885 17.6257 14.6971 16.7136L19.2405 21.2573C19.5562 21.5727 19.9701 21.7298 20.3835 21.7298C20.7973 21.7298 21.2107 21.5727 21.5269 21.2573C22.1578 20.6257 22.1578 19.6027 21.5264 18.9713ZM10.0813 15.5442C7.06453 15.5442 4.61873 13.0986 4.61873 10.0816C4.61873 7.0647 7.06453 4.6189 10.0813 4.6189C13.0982 4.6189 15.5439 7.0647 15.5439 10.0816C15.5439 13.0986 13.0982 15.5442 10.0813 15.5442Z' /></svg>");
    background-position: 12px center;
    background-repeat: no-repeat;
    text-indent: 30px;
  }
}

.select,
.date-picker {
  &.full-width {
    width: 100%;
    box-sizing: border-box;
  }
}

.select {
  cursor: pointer;
  transition: color ease-in-out var(--animation-speed),
    background-color ease-in-out var(--animation-speed);
  border-radius: 8px;
  background-color: rgba(204, 204, 204, 0.2);
  display: inline-flex;
  align-items: center;
  padding-right: 16px;
  color: var(--color-grey-light);

  &:after {
    content: url("data:image/svg+xml,<svg width='12px' height='12px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M12.9493 23.6164L21.6168 14.9491C21.8642 14.7017 22 14.372 22 14.0204C22 13.6684 21.864 13.3388 21.6168 13.0914L20.8297 12.3045C20.5826 12.0573 20.2527 11.9211 19.9009 11.9211C19.5493 11.9211 19.2082 12.0573 18.9612 12.3045L13.8937 17.3608L13.8937 1.29657C13.8937 0.572288 13.3267 0 12.6022 0L11.4895 0C10.765 0 10.1408 0.572288 10.1408 1.29657L10.1408 17.4182L5.04502 12.3047C4.79761 12.0575 4.47663 11.9213 4.12483 11.9213C3.77342 11.9213 3.44776 12.0575 3.20055 12.3047L2.41597 13.0916C2.16856 13.339 2.03373 13.6686 2.03373 14.0206C2.03373 14.3722 2.17031 14.7019 2.41772 14.9493L11.085 23.6166C11.3332 23.8646 11.6645 24.001 12.0167 24C12.37 24.0008 12.7015 23.8646 12.9493 23.6164Z' fill='currentColor'/></svg>");
    filter: invert(38%) sepia(12%) saturate(7%) hue-rotate(336deg) brightness(98%)
      contrast(83%);
  }

  &:hover {
    color: var(--color-link);
    background-color: rgba(0, 80, 199, 0.2);
    &:after {
      filter: invert(13%) sepia(99%) saturate(6294%) hue-rotate(210deg) brightness(93%)
        contrast(102%);
    }
  }

  &.disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  &.has-value select {
    font-weight: 600;
  }

  & select {
    padding: 0 22px 0 16px;
    background: transparent;
    height: 40px;
    border: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    outline: none;
    width: 100%;
    color: inherit;
    background-color: transparent;
    border: none;
    appearance: none;
  }
}

.date-picker {
  position: relative;
  display: inline-block;
  min-width: 190px;

  &:before {
    content: '';
    display: block;
    background: url("data:image/svg+xml,<svg width='24' height='24' viewBox='0 0 24 24' fill='%2343F51' xmlns='http://www.w3.org/2000/svg'><path d='M19.5 4.5H18.6667V2.83328C18.6667 2.37338 18.2933 2 17.8333 2H17C16.5399 2 16.1667 2.37338 16.1667 2.83328V4.5H7.83328V2.83328C7.83328 2.37338 7.46005 2 7 2H6.16672C5.70667 2 5.33328 2.37338 5.33328 2.83328V4.5H4.5C3.12167 4.5 2 5.62167 2 7V19.5C2 20.8783 3.12167 22 4.5 22H19.5C20.8783 22 22 20.8783 22 19.5V7C22 5.62167 20.8783 4.5 19.5 4.5ZM20.3333 19.5C20.3333 19.9591 19.9591 20.3333 19.5 20.3333H4.5C4.04086 20.3333 3.66672 19.9591 3.66672 19.5V10.3667H20.3333V19.5Z' /></svg>")
      center center no-repeat;
    width: 24px;
    height: 100%;
    border-width: thin;
    position: absolute;
    left: 18px;
    bottom: 0;
  }

  & input[type='date'] {
    text-indent: 18px;
    width: 100%;
    /* bug fix: safari mobile input alignment */
    -webkit-appearance: none;

    &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator {
      /* position but hide over svg so clicks work in chrome */
      opacity: 0;
      left: 0;
      position: absolute;
      width: 45px;
      height: 100%;
      border: 1px solid #ccc;
      z-index: 2;
      color: red;
    }
  }
}

.row {
  & label {
    margin-bottom: var(--spacing-8);
    display: block;
    font-weight: 600;
    &.error {
      color: var(--color-error);
      & ~ .helper {
        color: var(--color-error);
      }
      & ~ input {
        border-color: var(--color-error);
      }
    }
  }

  & .description {
    font-size: var(--text-small);
  }

  & .helper {
    font-size: var(--text-smallest);
  }

  & [is='hint-box'] {
    margin-top: var(--spacing-8);
  }

  /* &.error {
    & label,
    & .helper {
      color: var(--color-error);
    }
    & input {
      border-color: var(--color-error);
    }
  } */
}
