[is='multi-select'] {
  & .selected-values {
    background-color: var(--color-bg-white);
    border: 1px solid var(--input-stroke-light);
    border-radius: 4px;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    margin-bottom: var(--spacing-8);
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-8);
    padding: var(--spacing-8);

    &:empty {
      display: none;
    }
  }

  /* web component  */
  &:has(selectmenu) select {
    display: none;
  }

  & selectmenu {
    display: block;
    max-height: 167px;
    overflow-x: hidden;
    overflow-y: scroll;
    & [selected] {
      background-color: var(--color-blue);
      color: var(--color-white);
    }

    &[disabled] {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}
