body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e3e8ee;
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  font-weight: 700;
  font-style: normal;
}

h1,
.header1 {
  font-size: 36px;
  line-height: 48px;
}

h2,
.header2 {
  font-size: 30px;
  line-height: 40px;
}

h3,
.header3 {
  font-size: 24px;
  line-height: 32px;
}

h4,
.header4 {
  font-size: 20px;
  line-height: 24px;
}

h5,
.header5 {
  font-size: 18px;
  line-height: 24px;
}

body {
  font-family: 'Poppins', sans-serif;
}

body,
.body-text {
  font-size: 18px;
  line-height: 24px;
}

hr {
  background-color: var(--input-stroke-light);
  height: 1px;
  border: 0;
}

p {
  margin-top: 0;
}

caption,
.caption {
  font-size: 16px;
}

button,
a {
  cursor: pointer;
}

a,
.txt-link {
  color: var(--color-blue);
  border: none;
  background-color: transparent;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  transition: color ease-in-out 0.3s;
  padding: 0;
  &:hover {
    text-decoration-line: underline;
  }
  &:focused {
    filter: drop-shadow(0px 0px 10px rgba(0, 80, 199, 0.8));
  }
  &:active {
    color: var(--color-blue2);
  }
  &:disabled {
    color: var(--text-disabled);
  }
}

:focus-within,
:focus {
  outline-color: var(--tab-stroke);
}

.highlight {
  color: var(--color-highlight1);
}

/* Spacings */
.mb-0 {
  margin-bottom: 0;
}

.mb-8 {
  margin-bottom: var(--spacing-8);
}

.mb-16 {
  margin-bottom: var(--spacing-16);
}
.mb-24 {
  margin-bottom: var(--spacing-24);
}

.center {
  text-align: center;
}

small,
.small {
  font-size: 14px;
  line-height: 24px;
}

.basic-link {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
