body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e3e8ee;
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  font-weight: 700;
  font-style: normal;
}

h1,
.header1 {
  font-size: 36px;
  line-height: 48px;
}

h2,
.header2 {
  font-size: 30px;
  line-height: 40px;
}

h3,
.header3 {
  font-size: 24px;
  line-height: 32px;
}

h4,
.header4 {
  font-size: 20px;
  line-height: 24px;
}

h5,
.header5 {
  font-size: 18px;
  line-height: 24px;
}

body {
  font-family: var(--text-font-family);
  &.darken {
    overflow: hidden;
    &:after {
      content: '';
      display: block;
      height: 100vh;
      background: rgba(0, 0, 0, 0.7);
      width: 100%;
      position: absolute;
      z-index: 1;
    }
  }
}

body,
.body-text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

hr {
  background-color: var(--input-stroke-light);
  height: 1px;
  border: 0;
}

p {
  margin-top: 0;
}

caption,
.caption {
  font-size: 16px;
}

button,
a {
  cursor: pointer;
}

a,
.txt-link {
  color: var(--color-blue);
  border: none;
  background-color: transparent;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  transition: color ease-in-out 0.3s;
  padding: 0;
  &:hover {
    text-decoration-line: underline;
  }
  &:focused {
    filter: drop-shadow(0px 0px 10px rgba(0, 80, 199, 0.8));
  }
  &:active {
    color: var(--color-blue2);
  }
  &:disabled {
    color: var(--text-disabled);
  }
}

a {
  &[rel='external'] {
    display: inline-block;
    &:after {
      content: url("data:image/svg+xml,<svg width='16' height='16' viewBox='0 0 16 16' fill='%230050C7' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M13 8.00004C13 7.53984 13.3731 7.16671 13.8333 7.16671C14.2935 7.16671 14.6666 7.53984 14.6666 8.00004V13.8334C14.6666 14.2936 14.2935 14.6667 13.8333 14.6667H2.16665C1.70644 14.6667 1.33331 14.2936 1.33331 13.8334V2.16671C1.33331 1.7065 1.70644 1.33337 2.16665 1.33337H7.99998C8.46018 1.33337 8.83331 1.7065 8.83331 2.16671C8.83331 2.62691 8.46018 3.00004 7.99998 3.00004H2.99998V13H13V8.00004ZM10.9166 1.33337H13.8333C14.2935 1.33337 14.6666 1.7065 14.6666 2.16671V5.08337C14.6666 5.54358 14.2935 5.91671 13.8333 5.91671C13.3731 5.91671 13 5.54358 13 5.08337V4.17504L8.58746 8.58752C8.425 8.75004 8.21249 8.83337 7.99998 8.83337C7.78747 8.83337 7.57498 8.75004 7.4125 8.58752C7.08331 8.26255 7.08331 7.73753 7.4125 7.41253L11.825 3.00004H10.9166C10.4564 3.00004 10.0833 2.62691 10.0833 2.16671C10.0833 1.7065 10.4564 1.33337 10.9166 1.33337Z' /></svg>");
      display: inline-block;
      vertical-align: text-top;
      margin-left: var(--spacing-4);
    }
  }
}

:focus-within,
:focus {
  outline-color: var(--tab-stroke);
}

.highlight {
  color: var(--color-highlight1);
}

.my-8 {
  margin-top: var(--spacing-8);
  margin-bottom: var(--spacing-8);
}

.my-16 {
  margin-top: var(--spacing-16);
  margin-bottom: var(--spacing-16);
}
.my-24 {
  margin-top: var(--spacing-24);
  margin-bottom: var(--spacing-24);
}

.mb-0 {
  margin-bottom: 0;
}

.mb-8 {
  margin-bottom: var(--spacing-8);
}

.mb-16 {
  margin-bottom: var(--spacing-16);
}
.mb-24 {
  margin-bottom: var(--spacing-24);
}

.center {
  text-align: center;
}

small,
.small {
  font-size: var(--text-small);
  line-height: 24px;
}

.basic-link {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nowrap {
  white-space: nowrap;
}

#submit-logged-out {
  background: #000;
  color: #fff;
  font-size: 2em;
  left: 112px;
  padding: 40px;
  position: absolute;
  top: 200px;
}

.scrolling {
  transform: scale(0.95);
  opacity: 0.6;
}

.scrolled {
  animation: popout 0.1s ease-in-out;
}
