body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e3e8ee;
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-rendering: geometricPrecision;
}

main {
  flex: 1;
}

:is(h1, h2, h3, h4, h5, h6) {
  margin-top: 0;
  font-weight: 700;
  font-style: normal;
}

h1,
.header1 {
  font-size: 36px;
  line-height: 48px;
  margin-bottom: var(--spacing-8);
}

h2,
.header2 {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: var(--spacing-8);
}

h3,
.header3 {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: var(--spacing-8);
}

h4,
.header4 {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: var(--spacing-8);
}

h5,
.header5 {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 0;
}

body {
  font-family: var(--text-font-family);
  &.darken {
    overflow: hidden;
    &:after {
      content: '';
      display: block;
      height: 100vh;
      background: rgba(0, 0, 0, 0.7);
      width: 100%;
      position: absolute;
      z-index: 1;
    }
  }
}

body,
.body-text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

hr {
  background-color: var(--input-stroke-light);
  height: 1px;
  border: 0;
}

p {
  margin-top: 0;
}

caption,
.caption {
  font-size: 16px;
}

button,
a {
  cursor: pointer;
}

a,
.txt-link {
  color: var(--color-blue);
  border: none;
  background-color: transparent;
  font-size: inherit;
  font-weight: inherit;
  transition: color ease-in-out var(--animation-speed);
  padding: 0;
  &:hover {
    color: var(--color-blue2);
  }
  &:focused {
    filter: drop-shadow(0px 0px 10px rgba(0, 80, 199, 0.8));
  }
  &:active {
    color: var(--color-blue2);
  }
  &:disabled {
    color: var(--text-disabled);
  }
}

.txt-link {
  text-decoration: underline;
}

a {
  &[rel='external'] {
    display: inline-block;
    &:after {
      content: svg-load('new-tab.svg', fill=#0050C7, width=16, height=16);
      display: inline-block;
      vertical-align: text-top;
      margin-left: var(--spacing-4);
    }
  }
}

:focus-within,
:focus {
  outline-color: var(--tab-stroke);
}

.highlight {
  color: var(--color-highlight1);
}

.my-8 {
  margin-top: var(--spacing-8);
  margin-bottom: var(--spacing-8);
}

.my-16 {
  margin-top: var(--spacing-16);
  margin-bottom: var(--spacing-16);
}
.my-24 {
  margin-top: var(--spacing-24);
  margin-bottom: var(--spacing-24);
}

.mb-0 {
  margin-bottom: 0;
}

.mb-8 {
  margin-bottom: var(--spacing-8);
}

.mb-16 {
  margin-bottom: var(--spacing-16);
}
.mb-24 {
  margin-bottom: var(--spacing-24);
}

.center {
  text-align: center;
}

small,
.small {
  font-size: var(--text-small);
  line-height: 24px;
}

.smallest {
  font-size: var(--text-smallest);
}

.basic-link {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-16);
}

.nowrap {
  white-space: nowrap;
}

#submit-logged-out {
  background: #000;
  color: #fff;
  font-size: 2em;
  left: 112px;
  padding: 40px;
  position: absolute;
  top: 200px;
}

.scrolling {
  transform: scale(0.95);
  opacity: 0.6;
}

.scrolled {
  animation: popout 0.1s ease-in-out;
}

.content {
  & p:last-child {
    margin-bottom: 0;
  }

  & ul {
    margin: 0 0 var(--spacing-16) 0;
    padding-left: 0;

    & li {
      display: flex;
      align-items: center;
      &:before {
        color: var(--color-blue2);
        content: '- ';
        margin-right: var(--spacing-8);
      }
    }
  }
}

/* web components */
gov-icon {
  display: contents;
}
