input {
  background-color: var(--color-bg-white);
  border: 1px solid var(--input-stroke-light);
  padding: 13px 16px;
  border-radius: 8px;
  font-weight: 300;
  font-size: 18px;

  &[type='search'] {
    background-image: url(/static/i-dot-ai/images/search.svg);
    background-position: 12px center;
    background-repeat: no-repeat;
    text-indent: 30px;
  }

  &::placeholder {
    color: var(--color-grey-light);
    font-style: italic;
  }

  &:focus {
    outline: 2px solid var(--input-stroke-dark);
  }
}
