.main-header {
  background-color: #fff;
  border-bottom: 4px solid var(--color-pink);
  padding: 16px 0;

  & .logo {
    border-left: 2px solid var(--color-pink);
    color: var(--text-color);
    padding-left: 8px;
    display: inline-flex;
    align-items: center;

    & img {
      font-size: 20px;
      margin-right: 8px;
    }

    & h2 {
      font-weight: normal;
      margin: 0;
    }
  }
}

.container {
  max-width: var(--width-container);
  margin: 0 auto;
}
