{% extends "submissions/evaluation-base.html" %}
{% import 'macros.html' as macros with context %}

{% block evaluation_content %}
  <form method="POST" id="create-evaluation">{{csrf_input}}
    <fieldset>
      <legend>
        <h1>{{title}}</h1>
      </legend>
      {{macros.input("title", "Title")}}
      {{macros.input("url", "Link to document")}}
      {{macros.select_many_from_list("document_types", "Document type", dropdown_choices.document_types)}}
      {{macros.textarea("description", "Description")}}
      [PLACEHOLDER - document upload]
      {% include "submissions/multiple-objects-page.html" %}
    </fieldset>
  </form>
{% endblock %}
