{% extends "submissions/evaluation-base.html" %}
{% import 'macros.html' as macros with context %}

{% block evaluation_content %}
  <form method="POST" id="create-evaluation">{{csrf_input}}
    <h1 class="highlight header3">{{title}}</h1>
      {{macros.input("title", "Title")}}
      {{macros.input("url", "Link to document")}}
      {{macros.checkbox_from_list("document_types", "Document type", dropdown_choices.document_types)}}
      {{macros.textarea("description", "Description")}}
      {% include "submissions/multiple-objects-page.html" %}
  </form>
{% endblock %}
