{% extends "submissions/evaluation-base.html" %}
{% import 'macros.html' as macros with context %}

{% block evaluation_content %}
  <form method="POST" id="create-evaluation">{{csrf_input}}
    <h1 class="highlight header3">{{title}}</h1>
      <div class="content caption">
      <p>In this section you may add documents related to your evaluation eg scoping report, technical report, theory of change, analysis code.</p>
      {% block multipleobjects %}
        {% include "submissions/multiple-objects.html" %}
      {% endblock %}
    </div>
  </form>
{% endblock %}
