{% extends "base.html" %}
{% import 'macros.html' as macros with context %}

{% block content %}
  <form method="POST">{{csrf_input}}
    <fieldset class="fieldset">
      <legend>
        <h3>{{title}}</h3>
      </legend>
      {{macros.input("title", "Title", short_description="Full title as it appears at the start of the document.", tooltip=[
        "If the document has no title, provide a descriptive title. It would be helpful if this provides an indication of both the type of document and the evaluation it relates to, eg 'Analysis plan for the evaluation of XYZ interventions'."])}}
      {{macros.input("url", "Link to document", short_description=" A link to a canonical version of the document somewhere on the web.")}}
      <p>
      [PLACEHOLDER - field on document type - options]
      </p>
      {{macros.textarea("description", "Description", short_description="Brief description of the document, if needed.")}}
      [PLACEHOLDER - document upload]
      {% include "submissions/multiple-objects-page.html" %}
    </fieldset>
  </form>
{% endblock %}
