{% extends "submissions/evaluation-base.html" %}
{% import 'macros.html' as macros with context %}

{% block eval_content %}
  <form method="POST">{{csrf_input}}
    <fieldset class="fieldset">
      <legend>
        <h3>{{title}}</h3>
      </legend>
      <p>
      In this section you may add documents related to your evaluation eg scoping report, technical report, theory of change, analysis code.   
      </p>
      {% block multipleobjects %}
        {% include "submissions/multiple-objects.html" %}
      {% endblock %}
    </fieldset>
  </form>
{% endblock %}
