{% extends "base.html" %}
{% import 'macros.html' as macros with context %}

{% block content %}
  <form method="POST">{{csrf_input}}
    <fieldset class="fieldset">
      <legend>
        <h3>{{title}}</h3>
      </legend>
      <p>Only display if one of the evaluation types is "Economic evaluation"</p>
      <p>[PLACEHOLDER - analysis plan document upload]</p>
      {{macros.textarea("economic_eval_analysis_description", "Description of planned analysis", tooltip=["Description providing sufficient detail that a suitably experienced person would be able to duplicate the analysis based on the information provided."])}}
      {{macros.buttons(prev_url, id=data.id)}}
    </fieldset>
  </form>
{% endblock %}

