{% extends "submissions/evaluation-base.html" %}
{% import 'macros.html' as macros with context %}

{% block evaluation_content %}
  <form method="POST" id="create-evaluation">{{csrf_input}}
    <fieldset>
      <legend><h1>{{title}}</h1></legend>
      <div class="content caption">
      </div>

      {{macros.select_from_list("economic_eval_type", "Economic evaluation type", list=dropdown_choices.economic_eval_type)}}
      {{macros.textarea("perspective_costs", "Perspective: costs")}}
      {{macros.textarea("perspective_benefits", "Perspective: benefits")}}
      {{macros.textarea("monetisation_approaches", "Monetisation approach(es)")}}
      {{macros.textarea("economic_eval_design_details", "Design details")}}
      {{macros.buttons(prev_url, id=data.id)}}
    </fieldset>
  </form>
{% endblock %}

