{% extends "submissions/evaluation-base.html" %}

{% block evaluation_content %}
  <div class="wrapper">
    <h1>{{title}}</h1>
    <ul>
    Thank you for entering your evaluation
    </ul>
    <div class="evaluation-button-row">
      <div class="grid-x">
        <div class="cell small-6">
          <a href="{{prev_url}}" class="button"><i class="bi-caret-left"></i> Back</a>
          <a href="
              {{url('evaluation-overview', args=[evaluation_id])}}" class="button"><i class="bi-house"></i>Back
            to evaluation progress</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
