{% extends "submissions/evaluation-base.html" %}
{% import 'macros.html' as macros with context %}

{% block evaluation_content %}
  <form method="POST" id="create-evaluation">{{csrf_input}}
    <h1 class="highlight header3">{{title}}</h1>
      {{macros.yes_no("ethics_committee_approval", "Ethics committee approval")}}
      {{macros.textarea("ethics_committee_details", "Ethics committee details")}}
      {{macros.textarea("ethical_state_given_existing_evidence_base", "Ethical state of study given existing evidence base")}}
      {{macros.textarea("risks_to_participants", "Risks to participants")}}
      {{macros.textarea("risks_to_study_team", "Risks to study team")}}
      {{macros.textarea("participant_involvement", "Participant involvement")}}
      {{macros.textarea("participant_consent", "Participant consent")}}
      {{macros.textarea("participant_information", "Participant information")}}
      {{macros.textarea("participant_payment", "Participant payment")}}
      {{macros.textarea("confidentiality_and_personal_data", "Confidentiality and personal data")}}
      {{macros.textarea("breaking_confidentiality", "Breaking confidentiality")}}
      {{macros.textarea("other_ethical_information", "Other ethical information")}}

      {{macros.buttons(prev_url, id=data.id)}}
  </form>
{% endblock %}
