{% extends "base.html" %}
{% import 'macros.html' as macros with context %}

{% block content %}
  <form method="POST">{{csrf_input}}
    <fieldset class="fieldset">
      <legend>
        <h3>Ethics</h3>
      </legend>
      <h1>Blah, blah, blah</h1>
      <ul>
        <li>Bullet 1</li>
        <li>Bullet 2</li>
      </ul>
      {{macros.yes_no("ethics_committee_approval", "Ethics committee approval", tooltip=["Will the study be submitted to an ethics committee for approval?"])}}
      {{macros.textarea("ethics_committee_details", "Ethics committee details", tooltip=["If the study will be submitted to an ethics committee, which one?"])}}
      {{macros.textarea("risks_to_participants", "Risks to participants",tooltip=["Have you considered the risk of harm for participants, including any discomfort or inconvenience that they might experience through participation?"])}}
      {{macros.textarea("risks_to_study_team", "Risks to study team", tooltip=["Have you considered risk of harm to those conducting the study?"])}}
      {{macros.textarea("participant_involvement", "Participant involvement", tooltip=["Have participants / potential participants been involved in the design of the study?"])}}
      {{macros.textarea("participant_consent", "Participant consent", tooltip=["Will consent be obtained? If not, why not? When will consent be obtained? Who will obtain consent? How will consent be given (e.g. verabl, written)? If not written, how will records be kept? what steps will be taken to ensure that consent is informed and freely given?", "If using secondary data, does the primary consent cover the proposed usage (e.g. further analysis)?", "Attach a copy of the participant consent form, if being used."])}}
      {{macros.textarea("participant_information", "Participant information", tooltip=["What information will be provided to the participants about the study, its aims and procedures? Will any information be withheld? If so, why?", "Attach a copy of the participant information sheet, if being used."])}}
      {{macros.textarea("participant_payment", "Participant payment", tooltip=["Will participants be paid? If so, how much? Has consideration been given to whether this creates a conflict of interest? How is the potential for that being mitigated in the design?"])}}
      {{macros.textarea("confidentiality_and_personal_data", "Confidentiality and personal data", tooltip=["What steps will you take to protect the confidentiality of data of participants? Who will personally identifiable information be shared with? How will consent be obtained for use of personal data? How long will personal data be held for? How will it be disposed of?"])}}
      {{macros.textarea("breaking_confidentiality", "Breaking confidentiality", tooltip=["Are there circumstances under which confidentiality might be broken to prevent harm? If so, under what circumstances would this be done and what procedures would be used?"])}}
      {{macros.textarea("other_ethical_information", "Other ethical information", tooltip=["The headings on this record are not intended to cover all eventualities. Please record any other ethical considerations here."])}}
      {{macros.buttons(prev_url)}}
    </fieldset>
  </form>
{% endblock %}
