{% extends "submissions/evaluation-base.html" %}
{% import 'macros.html' as macros with context %}

{% block evaluation_content %}
  <form method="POST" id="create-evaluation">{{csrf_input}}
    <h1 class="highlight header3">{{title}}</h1>
      <div class="content caption">
      <p>Enter dates relevant to this evaluation such as the start and end of the evaluation, dates for participant recruitment, publishing date.</p>
      <p>This may include both intended and actual start dates.</p>
      {% block multipleobjects %}
        {% include "submissions/multiple-objects.html" %}
      {% endblock %}
    </div>
  </form>
{% endblock %}
