{% extends "submissions/evaluation-base.html" %}
{% import 'macros.html' as macros with context %}

{% block evaluation_content %}
  <form method="POST" id="create-evaluation">{{csrf_input}}
    <h1 class="highlight header3">{{title}}</h1>
      {{macros.radios_from_list("event_date_name", "Event type", dropdown_choices.event_date_name)}}
      {{macros.input_date("date", "Event date")}}
      {{macros.select_from_list("event_date_type", "Intended or actual date", list=dropdown_choices.event_date_type)}}
      {% include "submissions/multiple-objects-page.html" %}
  </form>
{% endblock %}
