{% extends "submissions/evaluation-base.html" %}
{% import 'macros.html' as macros with context %}

{% block eval_content %}
  <form method="POST">{{csrf_input}}
    <fieldset class="fieldset">
      <legend>
        <h3>{{title}}</h3>
      </legend>
      {{macros.select_from_list("event_date_name", "Event name", list=dropdown_choices.event_date_name)}}
      {{macros.input("date", "Event date", type="date")}}
      {{macros.select_from_list("event_date_type", "Intended or actual date", list=dropdown_choices.event_date_type)}}
      {{macros.textarea("reasons_for_change", "Reasons for change")}}
      {% include "submissions/multiple-objects-page.html" %}
    </fieldset>
  </form>
{% endblock %}
