{% extends "submissions/evaluation-base.html" %}
{% import 'macros.html' as macros with context %}

{% block evaluation_content %}
  <form method="POST" id="create-evaluation">{{csrf_input}}
    <fieldset>
      <legend>
        <h1>{{title}}</h1>
      </legend>

      <div class="content caption">
        <p>[PLACEHOLDER - document upload for findings report]</p>
      </div>

      {{macros.textarea("impact_eval_comparison", "Comparison")}}
      {{macros.textarea("impact_eval_outcome", "Outcome")}}
      {{macros.select_from_list("impact_eval_interpretation", "Interpretation", list=dropdown_choices.impact_eval_interpretation)}}
      {{macros.textarea("impact_eval_point_estimate_diff", "Point estimate of difference")}}
      {{macros.textarea("impact_eval_lower_uncertainty", "Lower uncertainty bound")}}
      {{macros.textarea("impact_eval_upper_uncertainty", "Upper uncertainty bound")}}
      {{macros.buttons(prev_url, id=data.id)}}
    </fieldset>
  </form>
{% endblock %}
