{% extends "submissions/evaluation-base.html" %}
{% import 'macros.html' as macros with context %}

{% block evaluation_content %}
  <form method="POST" id="create-evaluation">{{csrf_input}}
    <h1 class="highlight header3">{{title}}</h1>
      <div class="content caption">


             </div>

      {{macros.select_from_list("impact_framework", "Framework", list=dropdown_choices.impact_framework)}}
      {{macros.textarea("impact_framework_other", "If framework is 'Other', please provide more detail")}}
      {{macros.select_from_list("impact_basis", "Analysis basis", list=dropdown_choices.impact_basis)}}
      {{macros.textarea("impact_basis_other", "If analysis basis is 'Other', please provide more detail")}}
      {{macros.textarea("impact_analysis_set", "Analysis set")}}
      {{macros.select_from_list("impact_effect_measure_type", "Primary effect size measure type", list=dropdown_choices.impact_effect_measure_type)}}
      {{macros.input("impact_effect_measure_type_other", "If primary effect size measure type is 'Other', please provide more detail")}}
      {{macros.input("impact_primary_effect_size_measure", "Primary effect size measure")}}
      {{macros.select_from_list("impact_effect_measure_interval", "Primary effect size measure interval", list=dropdown_choices.impact_effect_measure_interval)}}
      {{macros.textarea("impact_effect_measure_interval_other", "If primary effect size measure interval basis is 'Other', please provide more detail")}}   
      {{macros.textarea("impact_primary_effect_size_desc", "Primary effect size measure description")}}
      {{macros.radios_from_list("impact_interpretation_type", "Interpretation type", dropdown_choices.impact_interpretation_type)}}
      {{macros.textarea("impact_sensitivity_analysis", "Sensitivity analysis")}}
      {{macros.textarea("impact_subgroup_analysis", "Subgroup analysis")}}
      {{macros.textarea("impact_missing_data_handling", "Missing data handling")}}
      {{macros.yes_no("impact_fidelity", "Fidelity reporting")}}
      {{macros.textarea("impact_description_planned_analysis", "Description of planned analysis")}}

      {{macros.buttons(prev_url, id=data.id)}}
  </form>
{% endblock %}
