{% extends "submissions/evaluation-base.html" %}
{% import 'macros.html' as macros with context %}

{% block evaluation_content %}
  <form method="POST" id="create-evaluation">{{csrf_input}}
    <fieldset>
      <legend>
        <h1>{{title}}</h1>
      </legend>
      {{macros.textarea("name", "Intervention name")}}
      {{macros.textarea("brief_description", "Intervention brief description")}}
      {{macros.textarea("rationale", "Intervention rationale")}}
      {{macros.textarea("materials_used", "What: Materials")}}
      {{macros.textarea("procedures", "What: Procedures")}}
      {{macros.textarea("provider_description", "Who providing")}}
      {{macros.textarea("modes_of_delivery", "How")}}
      {{macros.textarea("location", "Where")}}
      {{macros.textarea("frequency_of_delivery", "When and how much")}}
      {{macros.textarea("tailoring", "Tailoring")}}
      {{macros.textarea("fidelity", "How well (fidelity)")}}
      {{macros.textarea("resource_requirements", "Resource requirements")}}
      {{macros.textarea("geographical_information", "Geographical information")}}

      {% include "submissions/multiple-objects-page.html" %}
    </fieldset>
  </form>
{% endblock %}
