{% extends "submissions/evaluation-base.html" %}
{% import 'macros.html' as macros with context %}

{% block evaluation_content %}
  <form method="POST" id="create-evaluation" class="intervention-add-form">{{csrf_input}}
    <h1 class="highlight header3">{{title}}</h1>
      <div class="content caption">
      <p>
      Enter data on each intervention in the evaluation in this section.
      </p>
      <p>
      For an impact evaluation we would expect at least 2 interventions, to include 'business as usual' or similar, if that is what a novel intervention is being compared against.
      </p>
      {% block multipleobjects %}
        {% include "submissions/multiple-objects.html" %}
      {% endblock %}
      </div>
  </form>
{% endblock %}
