{% extends "submissions/evaluation-base.html" %}

{% block evaluation_content %}
  <div class="wrapper">
    <h1>Enter your evaluation</h1>
    <p>The Evaluation Registry is a place for recording information about evaluations across government.</p>
    <p>Ideally, you would register each evaluation before it starts and keep the information up to date as it progresses, but you can also provide information later in the stage, such as registering the evaluation with its results once they are known.</p>
    <p> The following pages will collect information about a range of aspects of the evaluation. As you work through the pages, provide as much information as you can. Leave blank any fields that are not applicable to your evaluation.</p>
    <p>Once you have input your information, you will be able to select who gets to see it.</p>
    <a href="{{next_url}}" class="button float-right">Next <i class="fi-arrow-right"></i></a>
  </div>
{% endblock %}
