{% extends "base.html" %}
{% import 'macros.html' as macros with context %}

{% block content %}
  <form method="POST">{{csrf_input}}
    <fieldset class="fieldset">
      <legend>
        <h3>{{title}}</h3>
      </legend>
      {{macros.textarea("issue_description", "Issue description", tooltip="The problem, circumstance or situation that it is intended that an intervention should respond to. When studying interventions to attend to particular problems this should be presented as undesirable aspects of a situation that it is hoped can be improved if an effective intervention can be identified. When studying an intervention that is untested but assumed to have a positive influence on aspects of a situation this should be presented as the aspects that it is thought that the intervention may be improving.")}}
      {{macros.textarea("those_experiencing_issue", "Who experiences the issue", tooltip="Those directly experiencing the issue.")}}
      {{macros.textarea("why_improvements_matter", "Why would improvements in relation to this issue matter?", tooltip="Why are the negative experiences a problem, or why would it be beneficial to achieve the prospective improvements?")}}
      {{macros.textarea("who_improvements_matter_to", "Who does it matter to?", tooltip="May be wider than those experiencing the issue directly.")}}
      {{macros.textarea("current_practice", "Current practice", tooltip="How is the issue currently typically attended to (if at all)?")}}
      {{macros.textarea("issue_relevance", "Relevance of the study", tooltip="What decisions are the results of this study intended to inform? Are there deadlines for making those decisions? How might practice be changed if an effective intervention is identified or an intervention is found to be ineffective? What information would this study need to generate to be able to affect these decisions?")}}
      {{macros.buttons(prev_url, id=data.id)}}
    </fieldset>
  </form>
{% endblock %}
