{% extends "submissions/evaluation-base.html" %}
{% import 'macros.html' as macros with context %}

{% block evaluation_content %}
  <form method="POST">{{csrf_input}}
    <fieldset class="fieldset">
      <legend>
        <h3>{{title}}</h3>
      </legend>
      <p>
      An issue description helps to ensure that it is clear what questions the evaluation is intended to answer and why they are important. Without an issue description, it can be easy for the nature of the issue to remain an implicit and unstated assumption. The issue might be a specific problem or negative situation to be resolved or moderated, or it might be an improvement that it is hoped can be achieved.
      </p>

      {{macros.textarea("issue_description", "Issue description")}}
      {{macros.textarea("those_experiencing_issue", "Who experiences the issue")}}
      {{macros.textarea("why_improvements_matter", "Why would improvements in relation to this issue matter?")}}
      {{macros.textarea("who_improvements_matter_to", "Who does it matter to?")}}
      {{macros.textarea("current_practice", "Current practice")}}
      {{macros.textarea("issue_relevance", "Relevance of the study")}}
      {{macros.buttons(prev_url, id=data.id)}}
    </fieldset>
  </form>
{% endblock %}
