{% extends "submissions/evaluation-base.html" %}
{% import 'macros.html' as macros with context %}

{% block evaluation_content %}
  <form method="POST" id="create-evaluation">{{csrf_input}}
    <h1 class="highlight header3">{{title}}</h1>
      <p>
      An issue description makes it clear what questions the evaluation aims to answer and why they are important. Without a good description, it is easy for the issue to remain an implict and unstated assumption.
      </p>

      {{macros.textarea("issue_description", "Issue description")}}
      {{macros.textarea("those_experiencing_issue", "Who experiences the issue")}}
      {{macros.textarea("why_improvements_matter", "Why would improvements in relation to this issue matter?")}}
      {{macros.textarea("who_improvements_matter_to", "Who does it matter to?")}}
      {{macros.textarea("current_practice", "Current practice")}}
      {{macros.textarea("issue_relevance", "Relevance of the study")}}
      {{macros.buttons(prev_url, id=data.id)}}
  </form>
{% endblock %}
