{% extends "submissions/evaluation-base.html" %}
{% import 'macros.html' as macros with context %}

{% block evaluation_content %}
  <form method="POST" id="create-evaluation">{{csrf_input}}
    <h1 class="highlight header3">{{title}}</h1>
      <div class="content caption">
      <p>
      In this section you can add links to other services where you evaluation is registered.
      </p>
      {% block multipleobjects %}
        {% include "submissions/multiple-objects.html" %}
      {% endblock %}
      </div>
  </form>
{% endblock %}
