{% block multipleobjects %}
  <ul>
    {% for name, url in data.objects.items() %}
    <li><a href={{url}}>{{name}}</a></li>
    {% endfor %}
  </ul>
  {% if data.objects.items() %}
    <button class="button" type="submit" name="add">Create another {{data.object_type}}<i class="bi-file-earmark-plus"></i></button>
  {% else %}
    <button class="button" type="submit" name="add">Create {{data.object_type}}<i class="bi-file-earmark-plus"></i></button>
  {% endif %}
  {{macros.buttons(prev_url, evaluation_id)}}
{% endblock %}