{% extends "submissions/evaluation-base.html" %}
{% import 'macros.html' as macros with context %}

{% block evaluation_content %}
  <form method="POST">{{csrf_input}}
    <fieldset class="fieldset">
      <legend>
        <h3>{{title}}</h3>
      </legend>
      {{macros.input("name", "Measurement name")}}
      {{macros.select_from_list("measure_type", "Measure type", list=list_vars.measure_type)}}
      {{macros.textarea("description", "Description of measurement",
        tooltip=["Details of what data will be gathered and of any processing that will be applied to raw data. This shall completely define the measurement such that others would be able to accurately replicate the measurement process based only on this information, including the format(s) the data will be collected, stored and/or presented in."])}}
      {{macros.textarea("collection_process", "Collection procedures and timing",
        tooltip=["How will data be collected, by whom, and when?"])}}

      {% include "submissions/multiple-objects-page.html" %}
    </fieldset>
  </form>
{% endblock %}
