{% extends "submissions/evaluation-base.html" %}
{% import 'macros.html' as macros with context %}

{% block evaluation_content %}
  <form method="POST">{{csrf_input}}
    <fieldset class="fieldset">
      <legend>
        <h3>{{title}}</h3>
      </legend>
      <p>PLACEHOLDER</p>
      <p>To display if one of the evaluation types is "Other evaluation"</p>
      {{macros.textarea("other_eval_summary_findings", "Summary findings")}}
      {{macros.textarea("other_eval_findings", "Findings")}}
      {{macros.buttons(prev_url, id=data.id)}}
    </fieldset>
  </form>
{% endblock %}
