{% extends "submissions/evaluation-base.html" %}
{% import 'macros.html' as macros with context %}

{% block evaluation_content %}
  <form method="POST" id="create-evaluation">{{csrf_input}}
    <h1 class="highlight">{{title}}</h1>
      <div class="content caption">
      <p>
        These are things you measure in the evaluations other than outcomes. This might be something that you want to include within your analysis, but you are not expecting it to be an outcome of the intervention in any way.
      </p>
      <p>
        For example, you might want to record the age of participants, to see whether different age groups respond differently to each of hte intervention options. Age could therefore be something you want a measurement of, even thought it is not an outcome.
      </p>
      {% include "submissions/multiple-objects.html" %}
      </div>
  </form>
{% endblock %}
