{% extends "submissions/evaluation-base.html" %}
{% import 'macros.html' as macros with context %}

{% block evaluation_content %}
  <form method="POST" id="create-evaluation">{{csrf_input}}
    <h1 class="highlight">{{title}}</h1>
      <div class="content caption">
      <p>
        Other measures are things you want to include within your analysis, but you are not expecting it to be an outcome of the intervention.
      </p>
      <p>
        For example, you might want to record the age of participants to see whether different age groups respond differently to each of the intervention options. You will need to capture and record the age of participants, but you will not measure age as an outcome.
      </p>
      {% include "submissions/multiple-objects.html" %}
      </div>
  </form>
{% endblock %}
