{% extends "submissions/evaluation-base.html" %}
{% import 'macros.html' as macros with context %}

{% block evaluation_content %}
  <form method="POST">{{csrf_input}}
    <fieldset>
      <legend><h1>{{title}}</h1></legend>
      <div class="content caption">
      <p>Only display when evaluation type is 'other'.</p>
      {{macros.textarea("other_eval_design_type", "Design type")}}
      {{macros.textarea("other_eval_design_details", "Design details")}}
      </div>
      {{macros.buttons(prev_url, id=data.id)}}
    </fieldset>
  </form>
{% endblock %}
