{% extends "submissions/evaluation-base.html" %}
{% import 'macros.html' as macros with context %}

{% block evaluation_content %}
  <form method="POST">{{csrf_input}}
    <fieldset class="fieldset">
      <legend>
        <h3>{{title}}</h3>
      </legend>
      <p>Only display if one of the evaluation types is "Other evaluation"</p>
      <p>[PLACEHOLDER - analysis plan document upload]</p>
      {{macros.textarea("other_eval_analysis_description", "Description of planned analysis")}}
      {{macros.buttons(prev_url, id=data.id)}}
    </fieldset>
  </form>
{% endblock %}
