{% extends "submissions/evaluation-base.html" %}
{% import 'macros.html' as macros with context %}

{% block eval_content %}
  <form method="POST">{{csrf_input}}
    <fieldset class="fieldset">
      <legend>
        <h3>{{title}}</h3>
      </legend>
      </ul>
      {{macros.input("name", "Outcome name", short_description="Please provide a name or brief phrase that describes the outcome.")}}
      {{macros.select("primary_or_secondary", "Primary or secondary",
        options=({'text': 'Primary', 'value': 'PRIMARY'}, {'text': 'Secondary', 'value': 'SECONDARY'}), empty_option="----",
        short_description="Will this outcome be treated as a primary or secondary outcome in this study?",
        tooltip=["The primary outcome measure will provide the principal assessment of whether the intervention is effective or not.",
        "It should be selected on the basis of being the best measure of the main outcome of interest in the study. 
        It will also have special status in the study, for example in reporting the findings and in setting the sample sizes.",
        "As well as the primary outcome measure, secondary outcome measures can be selected for a number of reasons:",
        "- Establishing the effectiveness of intervention at delivering other benefits besides the primary target",
        "- Assessing the extent of any adverse outcomes",
        "- Monitoring the intermediate outcomes to assess the propagation of the impact of the intervention along the causal chain",
        "- Assessing the effectiveness of the intervention at timepoints other than the primary timepoint of interest",
        "- Collecting an alternative measure for compatibility with other studies."])}}
      {{macros.select("direct_or_surrogate", "Direct or surrogate", options=({'text': 'Direct', 'value': 'DIRECT'}, 
        {'text': 'Surrogate', 'value': 'SURROGATE'}), empty_option="----", short_description=
        "Is this measure intended to directly reflect an outcome of interest or is it a surrogate measure that is 
        intended to act as a proxy for an outcome that is hard to measure directly?")}}
      {{macros.textarea("description", "Description of measure", short_description=
        "Details of what data will be gathered and of any processing that will be applied to raw data in order to create the measure.",
        tooltip=["When defining the measure here, try to provide enough information such that others would be able to 
        use it based only on this information.",
        "This will typically include the source of the data, as well as the format(s) the data will be collected, stored and/or presented in."])}}
      {{macros.textarea("collection_process", "Collection process", short_description="How will data be collected and by whom?")}}
      {{macros.textarea("timepoint", "Timepoint(s) of interest", short_description="When will data be collected?",
        tooltip=["If specifying more than one timepoint, specify which of the timepoints is the primary timepoint of interest.",
        "Consider whether the data collection is before the intervention as well as after."])}}
      {{macros.textarea("minimum_difference", "Minimum practically important difference",
        short_description="A difference or change in this outcome measure below this level would be considered negligible, unimportant or irrelevant.",
        tooltip=["Where a new intervention is being studied, the minimum practically important difference might be 
        informed by the amount by which it would have to outperform the existing standard approach to be worth considering deploying.",
        "As well as the difference itself, record how the number was arrived at. Establishing the minimum practically important difference may 
        require a small qualitative piece of research with decision-makers in the implementing organisation to identify.",
        "Having an accurate impression of the minimum practically important difference is particularly important for the primary outcome as 
        this will be the main factor affecting how large the sample sizes need to be for the study."])}}
      {{macros.textarea("relevance", "Relevance of outcome",
        short_description="Explain why the outcome and timepoint for measurement are considered important to evidence users.")}}

      {% include "submissions/multiple-objects-page.html" %}
    </fieldset>
  </form>

{% endblock %}
