{% extends "submissions/evaluation-base.html" %}
{% import 'macros.html' as macros with context %}

{% block evaluation_content %}
  <form method="POST" id="create-evaluation">{{csrf_input}}
    <h1 class="highlight header3">{{title}}</h1>
      <div class="content caption">
      <p>
        Outcome measures are the things that you are measuring because you want to see how they vary. In the case of an impact evaluation, you measure how they change between different interventions, perhaps because you hope that the outcome will be better with a new intervention than with the existing one.
      </p>
      <p>
        Anything else you measure or record is an 'other measure', to be recorded in the next section.
      </p>
      {% block multipleobjects %}
        {% include "submissions/multiple-objects.html" %}
      {% endblock %}
      </div>
  </form>
  
{% endblock %}
