{% extends "base.html" %}
{% import 'macros.html' as macros with context %}

{% block content %}
  <form method="POST">{{csrf_input}}
    <fieldset class="fieldset">
      <legend>
        <h3>{{title}}</h3>
      </legend>
      Outcome measures are the things that you are measuring because you want to see how they vary between the arms, perhaps becuase you hope that the outcome will be better with a new intervention. Anything else you measure or record is an 'other measure', to be recorded in the next section.
      <ul>
        {% for name, url in data.objects.items() %}
        <li><a href={{url}}>{{name}}</a></li>
        {% endfor %}
      </ul>
      <button class="button" type="submit" name="add">Create outcome measure <i class="bi-file-earmark-plus"></i></button>
      
      {% block multipleobjects %}
        {% include "submissions/multiple-objects.html" %}
      {% endblock %}
      {{macros.buttons(prev_url, data.evaluation_id)}}
    </fieldset>
  </form>
  
{% endblock %}