{% extends "submissions/evaluation-base.html" %}
{% import 'macros.html' as macros with context %}

{% block evaluation_content %}
  <form method="POST" id="create-evaluation">{{csrf_input}}
    <h1 class="highlight header3">{{title}}</h1>
      <div class="content caption">
      <p>
        Outcome measures are the specific things that you track and record during the implementation of an intervention because you want to see how they vary.
      </p>
      <p>
        Anything else you decide to measure or record is classed as an 'other measure', and should be described in the next section.
      </p>
      {% block multipleobjects %}
        {% include "submissions/multiple-objects.html" %}
      {% endblock %}
      </div>
  </form>
  
{% endblock %}
