{% extends "base.html" %}
{% import 'macros.html' as macros with context %}

{% block content %}
  <form method="POST">{{csrf_input}}
    <fieldset class="fieldset">
      <h3>Evaluation progress</h3>
      {% for page, order in data.statuses.page_status_order|dictsort(false, 'value') %}
        <div class="grid-x">
          <div class="cell small-6 eval-overview-name"><a href="{{url(page, args=[data.evaluation_id])}}">{{ get_page_display_name(page) }}</a></div>
          <div class="cell small-6 eval-overview-status">{{ get_page_status_display_name(data.statuses.page_statuses[page]) }}</div>
        </div>
      {% endfor %}
    </fieldset>
  </form>
{% endblock %}
