{% extends "submissions/evaluation-base.html" %}
{% import 'macros.html' as macros with context %}

{% block evaluation_content %}
  <form method="POST" id="create-evaluation">{{csrf_input}}
    <h1 class="highlight header3">{{title}}</h1>
      {{macros.textarea("process_for_recruitment", "Process for recruitment")}}
      {{macros.textarea("recruitment_schedule", "Recruitment schedule including date of first recruitment")}}
      {{macros.buttons(prev_url, id=data.id)}}
  </form>
{% endblock %}
