{% extends "submissions/evaluation-base.html" %}
{% import 'macros.html' as macros with context %}

{% block evaluation_content %}
  <form method="POST" id="create-evaluation">{{csrf_input}}
    <h1 class="highlight header3">{{title}}</h1>
      <div class="content caption">
        <p>
          Add information about any standards being conformed to or any formalised processes followed in the design or conduct of this evaluation.
        </p>
        <p>
          If you have completed the majority of fields in the Evaluation Registry, you will normally be able to claim partial or complete conformity with the Standard for producing evidence of the effectiveness of interventions (StEv2-1:2016).
        </p>
      {% block multipleobjects %}
        {% include "submissions/multiple-objects.html" %}
      {% endblock %}
      </div>
  </form>
{% endblock %}
