{% extends "base.html" %}
{% import 'macros.html' as macros with context %}

{% block content %}
  <form method="POST">{{csrf_input}}
    <fieldset class="fieldset">
      <legend>
        <h3>{{title}}</h3>
      </legend>
      <p>PLACEHOLDER</p>
      <p>Only display if one of the evaluation types is "Process evaluation"</p>
      {{macros.textarea("process_eval_summary_findings", "Summary findings", short_description="A short description (one to two sentences) of the findings related to this aspect of the process evaluation.")}}
      {{macros.textarea("process_eval_findings", "Findings", short_description="A longer description of the findings related to this aspect of the process evaluation, as required.")}}
      {{macros.buttons(prev_url, id=data.id)}}
    </fieldset>
  </form>
{% endblock %}
