{% extends "base.html" %}
{% import 'macros.html' as macros with context %}

{% block content %}
  <form method="POST">{{csrf_input}}
    <fieldset class="fieldset">
      <legend>
        <h3>{{title}}</h3>
      </legend>
      <button class="button" type="submit" name="add">Create process or standard <i class="bi-file-earmark-plus"></i></button>   
      {% block multipleobjects %}
        {% include "submissions/multiple-objects.html" %}
      {% endblock %}
    </fieldset>
  </form>
{% endblock %}
