{% extends "submissions/evaluation-base.html" %}
{% import 'macros.html' as macros with context %}

{% block evaluation_content %}
  <form method="POST">{{csrf_input}}
    <fieldset class="fieldset">
      <legend>
        <h3>{{title}}</h3>
      </legend>
      <p>
      Enter details of where the evaluation is conforming to a particular standard or where you have adopted a given set of principles.
      </p>
      {{macros.input("processes_standard_name", "Name of standard")}}
      {{macros.select_from_list("processes_standard_conformity", "Conformity", list=[("FULL", "Full"), ("PARTIAL", "Partial"), ("NO", "No")])}}
      {{macros.textarea("processes_standard_description", "Description")}}
      {% include "submissions/multiple-objects-page.html" %}
    </fieldset>
  </form>
{% endblock %}
