{% extends "submissions/evaluation-base.html" %}
{% import 'macros.html' as macros with context %}

{% block evaluation_content %}
  <form method="POST" id="create-evaluation">{{csrf_input}}
    <h1 class="highlight header3">{{title}}</h1>
      <p>
      Enter details of where the evaluation is conforming to a particular standard or where you have adopted a given set of principles.
      </p>
      {{macros.input("name", "Name of standard")}}
      {{macros.select_from_list("conformity", "Conformity", list=[("FULL", "Full"), ("PARTIAL", "Partial"), ("NO", "No")])}}
      {{macros.textarea("description", "Description")}}
      {% include "submissions/multiple-objects-page.html" %}
  </form>
{% endblock %}
