{% extends "base.html" %}
{% import 'macros.html' as macros with context %}

{% block content %}
  <form method="POST">{{csrf_input}}
    <fieldset class="fieldset">
      <legend>
        <h3>Status</h3>
      </legend>
      {{macros.select_from_list("status", "Evaluation status", statuses, tooltip=["Choose a status for this evaluation.", "Draft is only visible to users assigned to this evaluation.", "Civil service is visible to anyone with a cabinet office email.", "Public is visible to any registered user."])}}
      {{macros.buttons(prev_url)}}
    </fieldset>
  </form>
{% endblock %}
