{% extends "base.html" %}
{% import 'macros.html' as macros with context %}

{% block content %}
  <form method="POST">{{csrf_input}}
    <fieldset class="fieldset">
      <legend>
        <h3>{{title}}</h3>
      </legend>
      {{macros.input(name="title", label="Give a title for this evaluation", placeholder="e.g. R459-Waterways Pollution (2015-2020)", tooltip=["Please provide a full/descriptive title for the evaluation, include a name or description of the interventions being evaluated. Spell out any abbreviations unless they are very familiar."])}}
      {{macros.buttons(prev_url)}}
    </fieldset>
  </form>
{% endblock %}
