{% extends "account/base.html" %}

{% block head_title %}Accept invitation{% endblock %}

{% block content %}

  <div class="card">
    <header>
      <h1 class="header2 highlight">Accept invitation</h1>
    </header>
    
      <p>Already have an account? Then please <a href="{{login_url}}">log in</a>.</p>
      <p class="mb-24">If you don't think you should have received this invite, please contact an administrator at {{contact_email}}</p>

      <form method="post">
        {% csrf_token %}

        <div class="form-group">
          
          <label for="id_password1">Password</label>
          <input type="password" name="password1" id="id_password1" required autocomplete="off" class="full-width" >
          {% if form.errors.email %}
            <span class="form-error">{{form.errors.password1}}</span>
          {% endif %}
        </div>
        <div class="form-group">
          <label for="id_password2">Confirm Password</label>
          <input type="password" name="password2" id="id_password2" required autocomplete="off"  class="full-width">
          {% if form.errors.email %}
            <span class="form-error">{{form.errors.password2}}</span>
          {% endif %}
        </div>

      
        <footer class="actions">
        {% if redirect_field_value %}
          <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
        {% endif %}
        <button class="bttn-primary" type="submit">Sign up</button>
      </footer>
      </form>
    
  </div>
{% endblock %}
