{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8"/>
      <link rel="icon" type="image/svg+xml" href="{% static 'i-dot-ai/images/crown.svg' %}"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
      <title>Evaluation Registry: {% block head_title %}{% endblock %}</title>
      <link rel="stylesheet" href="{% static 'i-dot-ai/fonts.css' %}"/>
      <link rel="stylesheet" href="{% static 'dist/assets/index.css' %}" id="main-css"/>
        {% if space_name and space_name == "local" %}
          <!-- Dev script for local development -->
          <script type="module" src="http://127.0.0.1:5173/src/main.ts" defer></script>
        {% endif %}
      <script src="{% static 'dist/assets/index.js' %}" id="main-script" defer></script>
   </head>
   {% url 'search' as search_url %}
   {% url 'my-evaluations' as my_evaluation_url %}
   <body {% if request.path == search_url %}id="search"{% endif %}>

{#   {% if request.path == url('search') %}id="search"{% endif %}#}
      <header id="main-header">
         <div class="container">
            <a href="/" class="logo">
              <i class="icon-crest"></i>
              <h2 class="body-text">Evaluation Registry</h2>
            </a>
         </div>
      </header>
      <main class="container">

         {% if messages %}
         <section>
           {% for message in messages %}
             <div class="callout {{message.tags}}" data-closable>
               <p>{{message}}</p>
             </div>
           {% endfor %}
         </section>
       {% endif %}

         {% block content %} {% endblock %}
      </main>
      <footer class="main-footer">
         <div class="container">
            <nav>
               <a href="#">Privacy</a>
               <a href="#">Feedback</a>
            </nav>
            <div class="disclaimer">
               &#169; Crown copyright
              {% with crest_svg as crest %}
                {{ crest }}
              {% endwith %}
            </div>
         </div>
      </footer>
   </body>
</html>