{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale = 1.0"> 
      <title>Evaluation Registry</title>
      <link rel="preload" href="{% static 'fonts/pxiByp8kv8JHgFVrLGT9Z1xlFd2JQEk.woff2' %}" as="font" type="font/woff2" crossorigin="anonymous">
      <link rel="preload" href="{% static 'fonts/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2' %}" as="font" type="font/woff2" crossorigin="anonymous">
      <link rel="icon" type="image/svg+xml" href="{% static 'i-dot-ai/images/crown.svg' %}">
      <link rel="stylesheet" href="{% static 'dist/assets/index.css' %}" id="main-css">
        {% if space_name and space_name == "local" %}
          <!-- Dev script for local development -->
          <script type="module" src="http://127.0.0.1:5173/src/main.ts"></script>
          <script src="http://127.0.0.1:5173/dev-setup.js"></script>
        {% endif %}
        <script src="{% static 'dist/assets/index.js' %}" id="main-script"></script>
   </head>
   {% url 'search' as search_url %}
   {% url 'my-evaluations' as my_evaluation_url %}
   <body {% if request.path == search_url %}id="search"{% endif %}>

{#   {% if request.path == url('search') %}id="search"{% endif %}#}
      <header id="main-header">
         <div class="container">
            <a href="/" class="logo">
               <gov-icon key="crest"></gov-icon>
              <h2 class="body-text">Evaluation Registry</h2>
            </a>
         </div>
      </header>

      <div class="phase-banner">
         <div class="container">            
          <p>
            <strong class="tag">ALPHA</strong>
            <span>This is a new service – your <a class="link" href="{% url 'feedback-and-help' %}">feedback </a> will help us to improve it.</span>
         </p>
         </div>
      </div>

      <main class="container">

         {% if messages %}
           {% for message in messages %}
             <div class="alert {{message.tags}}"><p>{{message|safe}}</p></div>
           {% endfor %}
       {% endif %}

         {% block content %} {% endblock %}
      </main>
      <footer class="main-footer">
         <div class="container">
            <nav>
               <a href="#">Privacy</a>
               <a href="{% url 'feedback-and-help' %}">Feedback</a>
            </nav>
            <div class="disclaimer">
               &#169; Crown copyright <gov-icon key="crest"></gov-icon>
            </div>
         </div>
      </footer>
   </body>
</html>