{% extends "account/base.html" %}
{% load account socialaccount %}
{% block head_title %}Log in{% endblock %}

{% block content %}

  <div class="card">
    <h1 class="header2 highlight">Log in</h1>


    <form class="login" method="POST">
    <div class="content">
    <p>If you have not created an account yet, then please <a href="{% url 'account_signup' %}">register</a> first.</p>

    
      {% csrf_token %}
      <div class="row mb-16">
        <label for="id_login">Email:</label>
        <input type="email" placeholder="Email address" name="login" id="id_login" required class="full-width" />
      </div>
      <div class="row  mb-16">
        <label for="id_password">Password:</label>
        <input type="password" name="password" placeholder="Password" id="id_password" required autocomplete="off" class="full-width" />
      </div>

      <div class="row">
        <label class="checkbox">
          <input type="checkbox" name="remember" id="id_remember">
        <div class="checkmark"></div>
        <span>Remember me</span>
      </label>
    </div>
      
      
      {% if redirect_field_value %}
        <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
      {% endif %}

      
      {% if resend_verification is True and resend_email is not None %}
        <p>Your account is not verified. <a href="{% url 'resend-verify-email' %}?email={{resend_email|urlencode}}">Request a new verification link</a>.</p>
      {% endif %}
    
      </div>

      <footer class="actions">        
        <a href="{% url 'password-reset' %}">Forgot password?</a>
        <button class="bttn-primary" type="submit">Log in</button>
      </footer>

    </form>
  </div>


{% endblock %}
