{% extends "account/base.html" %}

{% block head_title %}Set password{% endblock %}

{% block content %}


  <div class="card">
    <h1 class="header2 highlight">Set password</h1>
  
      {% if valid %}

        <form method="post">
          {% csrf_token %}
          <div class="form-group">
          
            <label for="id_password1">New password:</label>
            <input type="password" name="password1" id="id_password1" required autocomplete="off" class="full-width">
          
        </div>
        <div class="form-group">
         
            <label for="id_password2">Confirm password:</label>
            <input type="password" name="password2" id="id_password2" required autocomplete="off" class="full-width">
         
          </div>

          <hint-box aria-label="Password requirements">
            <div class="content">
              <p>Password requirements:</p>
              <ul>
                <li>8 or more characters</li>
                <li>Cannot be only numbers</li>
                <li>Cannot be any common user information such as email</li>
              </ul>
            </div>
          
          <button class="bttn-primary" type="submit">Submit</button>
        </form>

      {% elif not valid %}
        <p>Something went wrong with this request. Please try entering your email again or login instead.</p>
        <div>
          <a class="button" href="{{login_url}}">Login</a>
          <a class="button float-right" href="{% url "password-reset" %}">Enter another email</a>
        </div>
      {% endif %}

    </div>
  </div>

{% endblock %}
