{% extends "account/base.html" %}

{% block head_title %}Reset password{% endblock %}

{% block content %}


  <div class="card">

    <h1 class="header2 highlight">Reset password</h1>
    
    <div class="card-section">

      <p>Don't have an account? Then please <a href="{% url 'account_signup' %}">sign up</a>.</p>

      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="id_email">Email</label> {{login_url}}
          <input type="email" name="email" id="id_email" required autocomplete="off" class="full-width">
        </div>

        <footer class="actions">        
          <a href="{% url 'account_login' %}" class="bttn-secondary small">Cancel</a>
          <button class="bttn-primary" type="submit">Submit</button>
        </footer>
      </form>

    </div>
  </div>

{% endblock %}
