{% extends "account/base.html" %}

{% block head_title %}Set password{% endblock %}

{% block content %}


  <div class="card">
    <h1 class="header2 highlight">Set password</h1>
    <div class="card-section">

      {% if valid %}

        <form method="post">
          {% csrf_token %}
          <p>
            <label for="id_password1">Password:</label>
            <input type="password" name="password1" placeholder="Password" id="id_password1" required autocomplete="off">
          </p>
          <p>
            <label for="id_password2">Password:</label>
            <input type="password" name="password2" placeholder="Password (again)" id="id_password2" required autocomplete="off">
          </p>

          <div is="hint-box" aria-label="Additional guidance">
            <div class="content">
              <p>Password requirements:</p>
              <ul>
                <li>8 or more characters</li>
                <li>Cannot be only numbers</li>
                <li>Cannot be any common user information such as email</li>
              </ul>
            </div>
          </div>
          <button class="button float-right" type="submit">Submit</button>
        </form>

      {% elif not valid %}
        <p>Something went wrong with this request. Please try entering your email again or login instead.</p>
        <div>
          <a class="button" href="{{login_url}}">Login</a>
          <a class="button float-right" href="{% url "password-reset" %}">Enter another email</a>
        </div>
      {% endif %}

    </div>
  </div>

{% endblock %}
