{% extends "account/base.html" %}

{% block head_title %}Register{% endblock %}

{% block content %}


  <div class="card">
    <div class="card-divider">
      Register
    </div>
    <div class="card-section">

      <p>Already have an account? Then please <a href="{{login_url}}">log in</a>.</p>

      <form method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        <p>
          <label for="id_email">Email:</label>
          <input type="email" placeholder="Email address" name="email" id="id_email" required autocomplete="off" data-np-autofill-type="email">
        </p>
        <p>
          <label for="id_password1">Password:</label>
          <input type="password" name="password1" placeholder="Password" id="id_password1" required autocomplete="off">
        </p>
        <p>
          <label for="id_password2">Password:</label>
          <input type="password" name="password2" placeholder="Password (again)" id="id_password2" required autocomplete="off" data-np-autofill-type="newPassword">
        </p>
        {% if redirect_field_value %}
          <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
        {% endif %}
        <button class="button float-right" type="submit">Sign up</button>
      </form>

    </div>
  </div>

{% endblock %}
