{% extends "account/base.html" %} 

{% block head_title %}Verify email address{% endblock %}
  
{% block content %}
<div class="card">
<header>
    <h1 class="header2 highlight">Verify email address</h1>
  </header>
  <div class="card-section">
    {% if verify_result %}
    <p>
      Your account has been successfully verified. Please return to the
      <a href="{% url 'account_login' %}">login</a> page and log in to use the
      system.
    </p>
    {% else %}
    <p>
      An issue has occurred or this request has already been used, please try
      again or contact an administrator if the issue persists.
    </p>
    {% endif %}
  </div>
</div>

{% endblock %}
