#main {
  margin-top: 3rem;
}

section {
  margin-bottom: 3rem;
}

.card, .callout, fieldset {
  border-radius: 12px;
}

.button, #etf input, #etf textarea, #etf select, .label {
  border-radius: 4px;
}

.label {
  margin-bottom: 0.125rem;
}
}
