label[for="id_remember"] {
  float: left;
  margin-right: 10px;
}

div.evaluation-button-row {
  margin-top: 1rem;
}

div.top-bar-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

div.top-bar-right form {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

div.global--search {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

div.global--search input#search_phrase {
    margin-bottom: 0px;
}

div.global--search button.button {
    margin-bottom: 0px;
    margin-left: 0.15rem;
}
