@custom-media --viewport-medium (min-width: 767px);
@custom-media --viewport-large (min-width: 1023px);
@custom-media --viewport-xl (min-width: 1399px);

:root {
  --color-green: #065c53;
  --color-green-light: #b4cecb;
  --color-purple: #693695;
  --color-pink: #970254;
  --color-orange: #8f4000;
  --color-blue: #0050c7;
  --color-blue2: #002864;
  --color-blue-light: #80a8e3;
  --color-blue-light2: #ccdcf4;
  --color-red: #ce2d1e;
  --color-black: #1a1a1a;
  --color-grey-dark: #333333;
  --color-grey-light: #666666;
  --color-grey-light2: #cccccc;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  font-style: normal;
}

h1,
.header1 {
  font-size: 36px;
  line-height: 48px;
}

h2,
.header2 {
  font-size: 30px;
  line-height: 40px;
}

h3,
.header3 {
  font-size: 24px;
  line-height: 32px;
}

h4,
.header4 {
  font-size: 20px;
  line-height: 24px;
}

h5,
.header5 {
  font-size: 18px;
  line-height: 24px;
}

body,
p {
  font-size: 18px;
  line-height: 24px;
}

caption,
.caption {
  font-size: 16px;
}

small,
.small {
  font-size: 14px;
  line-height: 24px;
}
