
    
<p>large buttons</p>

<button class="bttn-primary" type="submit">Button</button>
<button class="bttn-secondary" type="submit">Button</button>
<button class="bttn-tertiary" type="submit">Button</button>
<button class="bttn-quaternary" type="submit">Button</button></body>
<button class="bttn-negative" type="submit">Button</button></body>
<button class="txt-link" type="submit">Button</button></body>

<p>small buttons</p>

<button class="bttn-primary-sm" type="submit">Button</button></body>
<button class="bttn-secondary-sm" type="submit">Button</button></body>
<button class="bttn-tertiary-sm" type="submit">Button</button></body>
<button class="bttn-quaternary-sm" type="submit">Button</button></body>
<button class="bttn-negative-sm" type="submit">Button</button></body>
<button class="bttn-flat-sm" type="submit">Button</button></body>

