<nav aria-label="Breadcrumb" class="breadcrumb">
  <ol>
    <li>
      <a href="#">Back to My evaluations</a>
    </li>
    <li>
      <a href="#">Second item</a>
    </li>
    <li aria-current="true">Evaluation name #01</li>
  </ol>
</nav>

<h1 class="header2 highlight">Evaluation name #01</h1>

<div class="sidebarcolumn">
  <div class="col">
    <div class="mb-24 card small" style="display: flex; gap: 30px;">

      <div class="progress-bar-container">
        <div class="circular-progress-bar"
          data-segments='[{"color": "var(--status-color-green)", "percentage": 25}, {"color": "var(--status-color-orange)", "percentage": 25}, {"color": "var(--status-color-red)", "percentage": 25}]'>
        </div>
      </div>

      <div>
        <h2 class="header3 highlight">Overall progress</h2>
        <p>
          It is recommended to complete at least 60% before publishing evaluations
        </p>
      </div>
    </div>



    <div class="card small">
      <div class="progress-list">
        <header>
          <h3 class="header5">Overview</h3>
          <div class="progress-bar-horizontal">
            <div class="square filled"></div>
            <div class="square filled"></div>
            <div class="square filled"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
          </div>
        </header>

        <ul class="index">
          <li>
            <a href="#">Key information</a>
            <div class="chip orange" role="status">Incomplete</div>
          </li>
          <li>
            <a href="#">Where else is this evaluation registered?</a>
            <div class="chip blue" role="status">Not started</div>
          </li>
          <li>
            <a href="#">Issue description</a>
            <div class="chip green" role="status">Completed</div>
          </li>
          <li>
            <a href="#">Technical report</a>
            <div class="chip" role="status">Not required</div>
          </li>
          <li>
            <a href="#">Evaluation type</a>
            <div class="chip blue" role="status">Not started</div>
          </li>
        </ul>
      </div>

      <hr class="my-24">

      <div class="progress-list">
        <header>
          <h3 class="header5">What is measured</h3>
          <span>[Progress]</span>
        </header>

        <ul class="index">
          <li>
            <a href="#">Interventions</a>
            <div class="chip blue" role="status">Not started</div>
          </li>
          <li>
            <a href="#">Outcome measures</a>
            <div class="chip blue" role="status">Not started</div>
          </li>
          <li>
            <a href="#">Other measures</a>
            <div class="chip blue" role="status">Not started</div>
          </li>
        </ul>
      </div>

      <hr class="my-24">

      <div class="progress-list">
        <header>
          <h3 class="mb-0 header5 highlight">Evaluation design</h3>
          <button class="bttn-secondary small">Add section</button>
        </header>
      </div>

      <hr class="my-24">

      <div class="progress-list">
        <header>
          <h3 class="mb-0 header5 highlight">Analysis</h3>
          <button class="bttn-secondary small">Add section</button>
        </header>
      </div>

      <hr class="my-24">

      <div class="progress-list">
        <header>
          <h3 class="mb-0 header5 highlight">Findings</h3>
          <button class="bttn-secondary small">Add section</button>
        </header>
      </div>

      <hr class="my-24">

      <div class="progress-list">
        <header>
          <h3 class="mb-0 header5 highlight">Cost</h3>
          <button class="bttn-secondary small">Add section</button>
        </header>
      </div>
    </div>
  </div>

  <div class="col sidebar">

    <div class="mb-24">
      <div class="progress-bar-horizontal-wide">
        <div class="square filled"></div>
        <div class="square filled"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
      </div>
    </div>

    <div class="card mb-24 small">
      <h3 class="header5 highlight mb-0">Publish Status</h3>
      <p>Currently not viewable by anybody</p>

      <div class="chip orange" role="status">Draft <i>(02-03-23)</i></div>
      <hr class="my-16">
      <p>Ready to publish this evaluation?</p>

      <button class="bttn-primary full-width small">Publish</button>

      <hr class="my-16">

      <p>
        Want to review what other Civil Servants will see when this evaluation
        is published?
      </p>
      <button class="bttn-secondary full-width small">Preview</button>
    </div>

    <div class="mb-24 card small">
      <h3 class="mb-0 header5 highlight">Collaborators</h3>
      <p>Add collaborators to this evaluation, so they can edit and publish</p>
      <button class="bttn-secondary full-width small">
        Manage collaborators
      </button>
      <hr class="my-16">

      <p class="mb-0 space-between">
        <span>John Smith</span><span>Owner</span>
      </p>
    </div>
  </div>
</div>