<nav aria-label="Breadcrumb" class="breadcrumb">
  <ol>
    <li>
      <a href="#"> Back to My evaluations </a>
    </li>
    <li aria-current="true">Evaluation name #01</li>
  </ol>
</nav>

<h1 class="header2 highlight">Evaluation name #01</h1>

<div class="sidebarcolumn">
  <div class="col">
    <form class="searchbox mb-16">
      <input
        type="search"
        placeholder="Search keywords..."
        class="large full-width"
      />
      <div><button class="bttn-primary" type="submit">Search</button></div>
    </form>

    <div class="searchbox-intro">
      <p>Search through <b class="highlight">12,345 evaluations</b></p>
      <p>
        <i
          >Start your evaluation search with keywords or by making a filter
          selection</i
        >
      </p>
    </div>

    <hr />
    <div>
      <label class="radio">
        <input type="radio" name="fav_language" />
        <div class="checkmark"></div>
        <span>Active Travel England (ATE)</span>
      </label>

      <label class="radio">
        <input type="radio" name="fav_language" />
        <div class="checkmark"></div>
        <span>Academy for Social Justice</span>
      </label>

      <label class="radio">
        <input type="radio" name="fav_language" disabled />
        <div class="checkmark"></div>
        <span>Administration of Radioactive</span>
      </label>
    </div>

    <div>
      <label class="radio large">
        <input type="radio" name="fav_language" />
        <div class="checkmark"></div>
        <span>Active Travel England (ATE)</span>
      </label>

      <label class="radio large">
        <input type="radio" name="fav_language" />
        <div class="checkmark"></div>
        <span>Academy for Social Justice</span>
      </label>

      <label class="radio large">
        <input type="radio" name="fav_language" disabled />
        <div class="checkmark"></div>
        <span>Administration of Radioactive</span>
      </label>
    </div>
    <hr />

    <div class="select">
      <select name="sort">
        <option value="">Please select</option>
        <option value="published">Recently published</option>
        <option value="updated">Recently updated</option>
        <option value="views">Most views</option>
        <option value="comments">Most comments</option>
      </select>
    </div>

    <div class="select">
      <select name="sort">
        <option value="">Please select</option>
        <option value="published" selected>Recently published</option>
        <option value="updated">Recently updated</option>
        <option value="views">Most views</option>
        <option value="comments">Most comments</option>
      </select>
    </div>

    <div class="select disabled">
      <select name="sort" disabled>
        <option value="">Please select</option>
        <option value="published" selected>Recently published</option>
        <option value="updated">Recently updated</option>
        <option value="views">Most views</option>
        <option value="comments">Most comments</option>
      </select>
    </div>

    <hr />

    <form class="searchbox mb-16">
      <input
        type="search"
        placeholder="Search keywords..."
        class="large full-width"
      />
    </form>

    <div class="search-status">
      <div><b>4</b> results found</div>
      <div>
        <div class="chip">
          Accelerated Access Review (AAR)
          <a href="#" title="close" class="close">
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M22 4.79998L19.2 2L12 9.19999L4.79998 2L2 4.79998L9.19999 12L2 19.2L4.79998 22L12 14.8L19.2 22L22 19.2L14.8 12L22 4.79998Z"
                fill="currentColor"
              />
            </svg>
          </a>
        </div>
      </div>
      <div><a href="#" class="small">Clear All</a></div>
    </div>

    <div class="search-results">
      <div class="card small">
        <h2 class="header4">
          STP Assessment: Sustainable Transport Performance
        </h2>
        <p>
          An evaluation that assesses the performance of a transportation system
          in terms of sustainability, including factors such as emissions,
          energy efficiency, and the use of alternative fuels.
        </p>

        <table>
          <tr>
            <th>Stage</th>
            <td>Planning</td>
          </tr>
          <tr>
            <th>Organisation(s)</th>
            <td>Accelerated Access Review (AAR)</td>
          </tr>
          <tr>
            <th>Evaluation type</th>
            <td>Impact Evaluation</td>
          </tr>

          <tr>
            <th>Title of Interventions</th>
            <td>
              Giving children homework<br />
              Not giving children homework
            </td>
          </tr>
          <tr>
            <th>Title of Outcome measures</th>
            <td>
              Children doing better in their exams<br />
              Teachers find it easier to teach stuff
            </td>
          </tr>
        </table>
      </div>

      <div class="card small">
        <h2 class="header4">
          STP Assessment: Sustainable Transport Performance
        </h2>
        <p>
          An evaluation that assesses the performance of a transportation system
          in terms of sustainability, including factors such as emissions,
          energy efficiency, and the use of alternative fuels.
        </p>

        <table>
          <tr>
            <th>Stage</th>
            <td>Planning</td>
          </tr>
          <tr>
            <th>Organisation(s)</th>
            <td>Accelerated Access Review (AAR)</td>
          </tr>
          <tr>
            <th>Evaluation type</th>
            <td>Impact Evaluation</td>
          </tr>

          <tr>
            <th>Title of Interventions</th>
            <td>
              Giving children homework<br />
              Not giving children homework
            </td>
          </tr>
          <tr>
            <th>Title of Outcome measures</th>
            <td>
              Children doing better in their exams<br />
              Teachers find it easier to teach stuff
            </td>
          </tr>
        </table>
      </div>

      <div class="card small">
        <h2 class="header4">
          STP Assessment: Sustainable Transport Performance
        </h2>
        <p>
          An evaluation that assesses the performance of a transportation system
          in terms of sustainability, including factors such as emissions,
          energy efficiency, and the use of alternative fuels.
        </p>

        <table>
          <tr>
            <th>Stage</th>
            <td>Planning</td>
          </tr>
          <tr>
            <th>Organisation(s)</th>
            <td>Accelerated Access Review (AAR)</td>
          </tr>
          <tr>
            <th>Evaluation type</th>
            <td>Impact Evaluation</td>
          </tr>

          <tr>
            <th>Title of Interventions</th>
            <td>
              Giving children homework<br />
              Not giving children homework
            </td>
          </tr>
          <tr>
            <th>Title of Outcome measures</th>
            <td>
              Children doing better in their exams<br />
              Teachers find it easier to teach stuff
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="col sidebar">
    <div class="card mb-24 small">
      <h3 class="header5 highlight mb-0">Publish Status</h3>
      <p>Currently not viewable by anybody</p>
      <hr class="my-16" />
      <p>Ready to publish this evaluation?</p>

      <button class="bttn-primary full-width small">Publish</button>

      <hr class="my-16" />

      <p>
        Want to review what other Civil Servants will see when this evaluation
        is published?
      </p>
      <button class="bttn-secondary full-width small">Preview</button>
    </div>

    <div class="card mb-24 small">
      <h3 class="header5 highlight mb-0">Collaborators</h3>
      <p>Add collaborators to this evaluation, so they can edit and publish</p>
      <button class="bttn-secondary full-width small">Manage collaborators</button>
      <hr class="my-16" />

      <p class="space-between mb-0"><span>John Smith</span><span>Owner</span></p>

    </div>


     
    </div>
  </div>
</div>
