<div class="chip orange">Published</div>
<div class="chip orange">Draft</div>
<div class="chip orange">Delete</div>
<div class="chip orange">Generic</div>
<div class="chip orange">Generic</div>


<hr>

Status: 

<div class="chip green" role="status">Published</div>
<div class="chip orange" role="status">Draft</div>
<div class="chip red" role="status">Delete</div>
<div class="chip" role="status">Generic</div>
<div class="chip blue" role="status">Generic</div>


<hr>
    
<p>large buttons</p>

<button class="bttn-primary" type="submit">Button</button>
<button class="bttn-secondary" type="submit">Button</button>
<button class="bttn-tertiary" type="submit">Button</button>
<button class="bttn-quaternary" type="submit">Button</button></body>
<button class="bttn-negative" type="submit">Button</button></body>
<button class="txt-link" type="submit">Button</button></body>

<p>small buttons</p>

<button class="bttn-primary small" type="submit">Button</button></body>
<button class="bttn-secondary small" type="submit">Button</button></body>
<button class="bttn-tertiary small" type="submit">Button</button></body>
<button class="bttn-quaternary small" type="submit">Button</button></body>
<button class="bttn-negative small" type="submit">Button</button></body>
<button class="bttn-flat small" type="submit">Button</button></body>

