<h1 class="highlight header3">Event dates</h1>

<div class="card">
      
  <form method="POST" id="create-evaluation"><input type="hidden" name="csrfmiddlewaretoken" value="W3rXX4fYmpQ70BPr1ff6WDr5Snx3JkVwEHbQeslDF9GNOnXhgVwF6fOLLZb7hVAR">
    
      
    <h1 class="highlight header4">Key event types</h1>
    
      

      <form action="">

        

        <fieldset>
          <legend>Evaluation start date</legend>
          <div class="form-group inline">
            <label for="evaluation-start-date-month">Month</label>
            <div is="select-field">
              <select name="my-select" id="evaluation-start-date-month">
                <option value="">Month</option>
                <option>January</option>
                <option>February</option>
                <option>March</option>
                <option>April</option>
                <option>May</option>
                <option>June</option>
                <option>July</option>
                <option>August</option>
                <option>September</option>
                <option>October</option>
                <option>November</option>
                <option>December</option>
              </select>
            </div>
          </div>

          <div class="form-group inline">
            <label for="evaluation-start-date-year">Year</label>
            <input type="number" id="year" maxlength="4" id="evaluation-start-date-year">
          </div>


          <div class="form-group">
          <label class="radio">
            <input type="radio" name="event_date_name" value="EVALUATION_START">
            <span class="checkmark"></span>
            <span>Intended date</span>
          </label>
          <label class="radio">
            <input type="radio" name="event_date_name" value="EVALUATION_START">
            <span class="checkmark"></span>
            <span>Actual date</span>
          </label>
          </div>

        </fieldset>
        <fieldset>
          <legend>Publicaton of interim results</legend>
        
          <div class="form-group inline">
            <label for="publicaton-of-interim-results-month">Month</label>
            <div is="select-field">
              <select name="my-select" id="publicaton-of-interim-results-month">
                <option value="">Month</option>
                <option>January</option>
                <option>February</option>
                <option>March</option>
                <option>April</option>
                <option>May</option>
                <option>June</option>
                <option>July</option>
                <option>August</option>
                <option>September</option>
                <option>October</option>
                <option>November</option>
                <option>December</option>
              </select>
            </div>
          </div>

          <div class="form-group inline">
            <label for="publicaton-of-interim-results-year">Year</label>
            <input type="number" id="year" maxlength="4" id="publicaton-of-interim-results-year">
          </div>

          <div class="form-group">
          <label class="radio">
            <input type="radio" name="event_date_name" value="EVALUATION_START">
            <span class="checkmark"></span>
            <span>Intended date</span>
          </label>
          <label class="radio">
            <input type="radio" name="event_date_name" value="EVALUATION_START">
            <span class="checkmark"></span>
            <span>Actual date</span>
          </label>
          </div>
        </fieldset>

        <fieldset>
          <legend>Publicaton of final results</legend>


          <div class="form-group inline">
            <label for="publicaton-of-final-results-month">Month</label>
            <div is="select-field">
              <select name="my-select" id="publicaton-of-final-results-month">
                <option value="">Month</option>
                <option>January</option>
                <option>February</option>
                <option>March</option>
                <option>April</option>
                <option>May</option>
                <option>June</option>
                <option>July</option>
                <option>August</option>
                <option>September</option>
                <option>October</option>
                <option>November</option>
                <option>December</option>
              </select>
            </div>
          </div>

          <div class="form-group inline">
            <label for="publicaton-of-final-results-year">Year</label>
            <input type="number" id="year" maxlength="4" id="publicaton-of-final-results-year">
          </div>

          <div class="form-group">
          <label class="radio">
            <input type="radio" name="event_date_name" value="EVALUATION_START">
            <span class="checkmark"></span>
            <span>Intended date</span>
          </label>
          <label class="radio">
            <input type="radio" name="event_date_name" value="EVALUATION_START">
            <span class="checkmark"></span>
            <span>Actual date</span>
          </label>
          </div>

        </fieldset>
        

        <hr class="my-24">
        <h2 class="header4 highlight mb-16">Additional event types</h2>


        <div is="idotai-accordion">

          <div class="accordion-title">
            <h3 class="body-text">Participant recruitment</h3>
          </div>
          <div class="accordion-panel">
            <div class="form-group inline">
              <label for="first-participant-recruited-month">Month</label>
              <div is="select-field">
                <select name="my-select" id="first-participant-recruited-month">
                  <option value="">Month</option>
                  <option>January</option>
                  <option>February</option>
                  <option>March</option>
                  <option>April</option>
                  <option>May</option>
                  <option>June</option>
                  <option>July</option>
                  <option>August</option>
                  <option>September</option>
                  <option>October</option>
                  <option>November</option>
                  <option>December</option>
                </select>
              </div>
            </div>
  
            <div class="form-group inline">
              <label for="first-participant-recruited-year">Year</label>
              <input type="number" id="year" maxlength="4" id="first-participant-recruited-year">
            </div>
          </div>

          <div class="accordion-title">
            <h3 class="body-text">Intervention timings</h3>
          </div>
          <div class="accordion-panel">
            <div class="form-group inline">
              <label for="intervention--month">Month</label>
              <div is="select-field">
                <select name="my-select" id="intervention--month">
                  <option value="">Month</option>
                  <option>January</option>
                  <option>February</option>
                  <option>March</option>
                  <option>April</option>
                  <option>May</option>
                  <option>June</option>
                  <option>July</option>
                  <option>August</option>
                  <option>September</option>
                  <option>October</option>
                  <option>November</option>
                  <option>December</option>
                </select>
              </div>
            </div>
            <div class="form-group inline">
              <label for="intervention--year">Year</label>
              <input type="number" id="year" maxlength="4" id="intervention--year">
            </div>
          </div>


          <div class="accordion-title">
            <h3 class="body-text">Interim analysis</h3>
          </div>
          <div class="accordion-panel">
            <div class="form-group inline">
              <label for="interim-month">Month</label>
              <div is="select-field">
                <select name="my-select" id="interim-month">
                  <option value="">Month</option>
                  <option>January</option>
                  <option>February</option>
                  <option>March</option>
                  <option>April</option>
                  <option>May</option>
                  <option>June</option>
                  <option>July</option>
                  <option>August</option>
                  <option>September</option>
                  <option>October</option>
                  <option>November</option>
                  <option>December</option>
                </select>
              </div>
            </div>
            <div class="form-group inline">
              <label for="interim-year">Year</label>
              <input type="number" id="year" maxlength="4" id="interim-year">
            </div>
            <div class="form-group">
            <label class="radio">
              <input type="radio" name="event_date_name" value="EVALUATION_START">
              <span class="checkmark"></span>
              <span>Interim data analysis start</span>
            </label>
            <label class="radio">
              <input type="radio" name="event_date_name" value="EVALUATION_START">
              <span class="checkmark"></span>
              <span>Interim data analysis end</span>
            </label>
            </div>
          </div>

          <div class="accordion-title">
            <h3 class="body-text">Final analysis</h3>
          </div>
          <div class="accordion-panel">
            <div class="form-group inline">
              <label for="final-month">Month</label>
              <div is="select-field">
                <select name="my-select" id="final-month">
                  <option value="">Month</option>
                  <option>January</option>
                  <option>February</option>
                  <option>March</option>
                  <option>April</option>
                  <option>May</option>
                  <option>June</option>
                  <option>July</option>
                  <option>August</option>
                  <option>September</option>
                  <option>October</option>
                  <option>November</option>
                  <option>December</option>
                </select>
              </div>
            </div>
            <div class="form-group inline">
              <label for="final-year">Year</label>
              <input type="number" id="year" maxlength="4" id="final-year">
            </div>
            <div class="form-group">
            <label class="radio">
              <input type="radio" name="event_date_name" value="EVALUATION_START">
              <span class="checkmark"></span>
              <span>Final data analysis start</span>
            </label>
            <label class="radio">
              <input type="radio" name="event_date_name" value="EVALUATION_START">
              <span class="checkmark"></span>
              <span>Final data analysis end</span>
            </label>
            </div>
          </div>

          <div class="accordion-title">
            <h3 class="body-text">Other</h3>
          </div>
          <div class="accordion-panel">
            <div class="form-group">
              <label for="83b6b281-6310-4f91-9f0a-dc13e234cf33">Other</label>
              <input type="text" id="83b6b281-6310-4f91-9f0a-dc13e234cf33">
    
            </div>
          </div>

        </div>



      </form>
      
      


<footer class="actions">
    <div>
      <a href="/evaluation/c68d545b-10df-4ff4-8442-9eec940acdb9/evaluation-types/" class="bttn-quaternary small">Back</a>
      
          <a href="/evaluation/c68d545b-10df-4ff4-8442-9eec940acdb9/overview/" class="bttn-quaternary small">Cancel</a>
      
    </div>

    
    <a href="/evaluation/c68d545b-10df-4ff4-8442-9eec940acdb9/interventions/?completed=event-dates" class="bttn-primary">Next</a>
  


  </footer>
      
    
  </form>

      </div>