

<hr>

<gov-icon key="pencil"></gov-icon>

<hr>

<div class="alert error">
    <div class="message">This is an error alert — check it out!</div>
</div>

<div class="alert warning">
    <div class="message">This is an error alert — check it out!</div>
</div>

<div class="alert success">
    <div class="message">This is an error alert — check it out!</div>
</div>


<hr>
<div class="chip orange">Published</div>
<div class="chip orange">Draft</div>
<div class="chip orange">Delete</div>
<div class="chip orange">Generic</div>
<div class="chip orange">Generic</div>


<hr>

Visibility:

<div class="chip green" role="status">Published</div>
<div class="chip orange" role="status">Draft</div>
<div class="chip red" role="status">Delete</div>
<div class="chip" role="status">Generic</div>
<div class="chip blue" role="status">Generic</div>


<hr>
    
<p>large buttons</p>

<button class="bttn-primary" type="submit">Button</button>
<button class="bttn-secondary" type="submit">Button</button>
<button class="bttn-tertiary" type="submit">Button</button>
<button class="bttn-quaternary" type="submit">Button</button></body>
<button class="bttn-negative" type="submit">Button</button></body>
<button class="txt-link" type="submit">Button</button></body>

<p>small buttons</p>

<button class="bttn-primary small" type="submit">Button</button></body>
<button class="bttn-secondary small" type="submit">Button</button></body>
<button class="bttn-tertiary small" type="submit">Button</button></body>
<button class="bttn-quaternary small" type="submit">Button</button></body>
<button class="bttn-negative small" type="submit">Button</button></body>
<button class="bttn-flat small" type="submit">Button</button></body>

<hr />

<input type="search" class="search-icon" />

<div class="date-picker">
<input type="date" />
</div>

<hr>


<div is="hint-box" aria-label="Additional guidance">
    <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consectetur mollis dignissim. Vestibulum facilisis pulvinar quam vitae mollis. Duis fermentum ut tellus vel interdum.</p>
    </div>
</div>


<hr>

<hr>
<div> <label class="radio">
 <input type="radio" name="fav_language">
 <span class="checkmark"></span>
 <span>Active Travel England (ATE)</span>
</label>

<label class="radio">
 <input type="radio" name="fav_language">
 <span class="checkmark"></span>
 <span>Academy for Social Justice</span>
</label>

<label class="radio">
 <input type="radio" name="fav_language" disabled>
 <span class="checkmark"></span>
 <span>Administration of Radioactive</span>
</label></div>

<div>
 <label class="radio large">
   <input type="radio" name="fav_language">
   <span class="checkmark"></span>
   <span>Active Travel England (ATE)</span>
 </label>

 <label class="radio large">
   <input type="radio" name="fav_language">
   <span class="checkmark"></span>
   <span>Academy for Social Justice</span>
 </label>

 <label class="radio large">
   <input type="radio" name="fav_language" disabled>
   <span class="checkmark"></span>
   <span>Administration of Radioactive</span>
 </label>
</div>
 <hr>

 <div is="select-field">
   <select name="sort" >
     <option value="">Please select</option>
<option value="published">Recently published</option>
<option value="updated" >Recently updated</option>
<option value="views">Most views</option>
<option value="comments">Most comments</option>
</select>
</div>


 <div is="select-field">
 <select name="sort" >
   <option value="">Please select</option>
<option value="published" selected>Recently published</option>
<option value="updated" >Recently updated</option>
<option value="views">Most views</option>
<option value="comments">Most comments</option>
</select>
</div>




<div class="form-group">
<div is="select-field">
<select name="sort" disabled >
<option value="">Please select</option>
<option value="published" selected>Recently published</option>
<option value="updated" >Recently updated</option>
<option value="views">Most views</option>
<option value="comments">Most comments</option>
</select>
</div>
<div class="helper">Lorem ipsum dolor sit</div>
</div>


<div class="form-group error">
<div is="select-field">
<select name="sort" >
 <option value="">Please select</option>
<option value="published" selected>Recently published</option>
<option value="updated" >Recently updated</option>
<option value="views">Most views</option>
<option value="comments">Most comments</option>
</select>
</div>
<div class="helper">Lorem ipsum dolor sit</div>
</div>
<hr>

<hr>

<fieldset>
  <legend>Measure type (radio)</legend>
  <div class="form-group">
    <label class="radio">
      <input type="radio" name="measure_type" value="CONTINUOUS">
      <span class="checkmark"></span>
      <span>Continuous</span>
    </label>
    <label class="radio">
      <input type="radio" name="measure_type" value="DISCRETE">
      <span class="checkmark"></span>
      <span>Discrete</span>
    </label>
    <label class="radio">
      <input type="radio" name="measure_type" value="BINARY">
      <span class="checkmark"></span>
      <span>Binary</span>
    </label>
    <label class="radio">
      <input type="radio" name="measure_type" value="ORDINAL">
      <span class="checkmark"></span>
      <span>Ordinal</span>
    </label>
    <label class="radio">
      <input type="radio" name="measure_type" value="NOMINAL">
      <span class="checkmark"></span>
      <span>Nominal</span>      
    </label>
    <label class="radio">
      <input type="radio" name="measure_type" value="OTHER" aria-controls="conditional-7b4039ab">
      <span class="checkmark"></span>
      <span>Other</span>
    </label>
    <div class="form-group controller-subfield" id="conditional-7b4039ab">
      <label for="measure_type_other">If measure type is 'Other', please provide more detail</label>
      <textarea placeholder="" id="measure_type_other" name="measure_type_other" class="full-width"></textarea>
    </div>

  </div>

</fieldset>

<fieldset>
  <legend>Measure type (checkbox)</legend>
  <div class="form-group">
    <label class="checkbox">
      <input type="checkbox" name="measure_type" value="CONTINUOUS">
      <span class="checkmark"></span>
      <span>Continuous</span>
    </label>
    <label class="checkbox">
      <input type="checkbox" name="measure_type" value="DISCRETE">
      <span class="checkmark"></span>
      <span>Discrete</span>
    </label>
    <label class="checkbox">
      <input type="checkbox" name="measure_type" value="BINARY">
      <span class="checkmark"></span>
      <span>Binary</span>
    </label>
    <label class="checkbox">
      <input type="checkbox" name="measure_type" value="ORDINAL">
      <span class="checkmark"></span>
      <span>Ordinal</span>
    </label>
    <label class="checkbox">
      <input type="checkbox" name="measure_type" value="NOMINAL">
      <span class="checkmark"></span>
      <span>Nominal</span>      
    </label>
    <label class="checkbox">
      <input type="checkbox" name="measure_type" value="OTHER" aria-controls="conditional-dyt6y3i">
      <span class="checkmark"></span>
      <span>Other</span>
    </label>
    <div class="form-group controller-subfield" id="conditional-dyt6y3i">
      <label for="measure_type_other">If measure type is 'Other', please provide more detail</label>
      <textarea placeholder="" id="measure_type_other" name="measure_type_other" class="full-width"></textarea>
    </div>
  </div>

</fieldset>

<div class="form-group error">
    <div class="select full-width">
    <select name="sort" >
     <option value="">Please select</option>
    <option value="published" selected>Recently published</option>
    <option value="updated" >Recently updated</option>
    <option value="views">Most views</option>
    <option value="comments">Most comments</option>
    </select>
    </div>
    <div class="helper">Lorem ipsum dolor sit</div>
    </div>
    <hr>

    <div class="form-group ">
      <label for="measure_type">Measure type</label>
      <div class="select full-width">
        <select name="measure_type" id="measure_type">
            <option value="" disabled="" selected="">Please choose one...</option>
            <option value="CONTINUOUS">Continuous</option>
            <option value="DISCRETE">Discrete</option>
            <option value="BINARY">Binary</option>
            <option value="ORDINAL">Ordinal</option>
            <option value="NOMINAL">Nominal</option>      
            <option value="OTHER">Other</option>
          
        </select>
      </div>
    </div>
    
    <div class="form-group ">
      <label for="measure_type_other">If measure type is 'Other', please provide more detail</label>
      <textarea placeholder="" id="measure_type_other" name="measure_type_other" class="full-width"></textarea>
    </div>
    