<div class="card">
      
  <form method="POST" id="create-evaluation"><input type="hidden" name="csrfmiddlewaretoken" value="W3rXX4fYmpQ70BPr1ff6WDr5Snx3JkVwEHbQeslDF9GNOnXhgVwF6fOLLZb7hVAR">
    <h1 class="highlight header3">Event dates</h1>
      <div class="content caption">


      

      <form action="">

        

        <fieldset>
          <legend>Key event dates</legend>
          <div class="form-group">
            <label for="evaluation-start-date">Evaluation start date</label>
            <div class="date-picker"><input id="evaluation-start-date" type="month"></div>
          </div>

          <div class="form-group">
          <label class="radio">
            <input type="radio" name="event_date_name" value="EVALUATION_START">
            <span class="checkmark"></span>
            <span>Intended date</span>
          </label>
          <label class="radio">
            <input type="radio" name="event_date_name" value="EVALUATION_START">
            <span class="checkmark"></span>
            <span>Actual date</span>
          </label>
          </div>
        
          <div class="form-group">
            <label for="publicaton-of-interim-results">Publicaton of interim results</label>
            <div class="date-picker"><input id="publicaton-of-interim-results" type="month"></div>
          </div>

          <div class="form-group">
          <label class="radio">
            <input type="radio" name="event_date_name" value="EVALUATION_START">
            <span class="checkmark"></span>
            <span>Intended date</span>
          </label>
          <label class="radio">
            <input type="radio" name="event_date_name" value="EVALUATION_START">
            <span class="checkmark"></span>
            <span>Actual date</span>
          </label>
          </div>
        
          <div class="form-group">
            <label for="publicaton-of-final-results">Publicaton of final results</label>
            <div class="date-picker"><input id="publicaton-of-final-results" type="month"></div>
          </div>

          <div class="form-group">
          <label class="radio">
            <input type="radio" name="event_date_name" value="EVALUATION_START">
            <span class="checkmark"></span>
            <span>Intended date</span>
          </label>
          <label class="radio">
            <input type="radio" name="event_date_name" value="EVALUATION_START">
            <span class="checkmark"></span>
            <span>Actual date</span>
          </label>
          </div>
        </fieldset>

        <h2 class="header4 mb-16">Additional event types</h2>

        <fieldset>
          <legend>Participant recruitment</legend>
          <div class="form-group">
            <label for="first-participant-recruited">First participant recruited</label>
            <div class="date-picker"><input id="first-participant-recruited" type="month"></div>
          </div>

          <div class="form-group">
            <label for="last-participant-recruited">Last participant recruited</label>
            <div class="date-picker"><input id="last-participant-recruited" type="month"></div>
          </div>

        </fieldset>

        <fieldset>
          <legend>Intervention timings</legend>
          <div class="form-group">
            <label for="intervention-start-date">Intervention start date</label>
            <div class="date-picker"><input id="intervention-start-date" type="month"></div>
          </div>

          <div class="form-group">
            <label for="intervention-end-date">Intervention end date</label>
            <div class="date-picker"><input id="intervention-end-date" type="month"></div>
          </div>

        </fieldset>

        <fieldset>
          <legend>Interim analysis</legend>
          <div class="form-group">
            <label for="interim-data-extraction-date">Interim data extraction date</label>
            <div class="date-picker"><input id="interim-data-extraction-date" type="month"></div>
          </div>

          <div class="form-group">
          <label class="radio">
            <input type="radio" name="event_date_name" value="EVALUATION_START">
            <span class="checkmark"></span>
            <span>Interim data analysis start</span>
          </label>
          <label class="radio">
            <input type="radio" name="event_date_name" value="EVALUATION_START">
            <span class="checkmark"></span>
            <span>Interim data analysis end</span>
          </label>
          </div>
        </fieldset>

        <fieldset>
          <legend>Final analysis</legend>
          <div class="form-group">
            <label for="final-data-extraction-date">Final data extraction date</label>
            <div class="date-picker"><input id="final-data-extraction-date" type="month"></div>
          </div>

          <div class="form-group">
          <label class="radio">
            <input type="radio" name="event_date_name" value="EVALUATION_START">
            <span class="checkmark"></span>
            <span>Final data analysis start</span>
          </label>
          <label class="radio">
            <input type="radio" name="event_date_name" value="EVALUATION_START">
            <span class="checkmark"></span>
            <span>Final data analysis end</span>
          </label>
          </div>
        </fieldset>

        <div class="form-group">
          <label for="83b6b281-6310-4f91-9f0a-dc13e234cf33">Other</label>
          <input type="text" id="83b6b281-6310-4f91-9f0a-dc13e234cf33">

        </div>

      </form>
      
      


<footer class="actions">
    <div>
      <a href="/evaluation/c68d545b-10df-4ff4-8442-9eec940acdb9/evaluation-types/" class="bttn-quaternary small">Back</a>
      
          <a href="/evaluation/c68d545b-10df-4ff4-8442-9eec940acdb9/overview/" class="bttn-quaternary small">Cancel</a>
      
    </div>

    
    <a href="/evaluation/c68d545b-10df-4ff4-8442-9eec940acdb9/interventions/?completed=event-dates" class="bttn-primary">Next</a>
  


  </footer>
      
    </div>
  </form>

      </div>